{##################################################################################
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2026 Kataev Yaroslav Georgievich
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE.md
 ##################################################################################}
{% extends '@Install/install.html.twig' %}

{% block main %}
    <form action="#" method="post">
        <table>
            <tr>
                <td>
                    <select name="_locale" size="1" required class="form-select" aria-label="Default select example">
                        {% for key, value in languages_list %}
                            {% if value.full %}
                                {% if key in app.enabled_locales %}
                                    <option value="{{ key }}" lang="{{ key }}" dir="{{ value.dir }}">{{ value.name }}</option>
                                {% else %}
                                    <option value="{{ key }}" lang="{{ key }}" dir="{{ value.dir }}" disabled>{{ value.name }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">OK</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}