{#
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) Kataev Yaroslav
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE
 #}
{% extends 'empty.html.twig' %}
{% trans_default_domain 'system' %}

{% block page_header %}
    {{ include('partials/page-header.html.twig', {title: 'File Manager Details'|trans, subtitle: 'Administration'|trans}) }}
{% endblock %}

{% block body_content %}
    <!-- Start::row-1 -->
    <div class="row row-sm">
        <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12">
            <div class="card custom-card overflow-hidden">
                <div class="card-body px-4 pt-4">
                    {% if file.format == 'image' %}
                        <img src="{{ asset('storage/' ~ file.path ~ '/' ~ file.name) }}" alt="image" class="cover-image rounded-3 w-100">
                    {% elseif file.format == 'video' %}
                        <video src="{{ asset('storage/' ~ file.path ~ '/' ~ file.name) }}" class="cover-image rounded-3 w-100">
                    {% elseif file.format == 'audio' %}
                        <audio controls src="{{ asset('storage/' ~ file.path ~ '/' ~ file.name) }}" class="cover-image rounded-3 w-100"></audio>
                    {% else %}
                        <img src="{{ asset('images/file-manager/istockphoto.jpg') }}" alt="image" class="cover-image rounded-3 w-100">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12">
            {% set breadcrumb = breadcrumb_path(file.path) %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{{ path('app_admin_file_manager') }}">Home</a></li>
                    {% for item in breadcrumb %}
                        {% if item.path == '' %}
                            <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="{{ path('app_admin_file_manager_list', {list: item.path}) }}">{{ item.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
        </div>
        <div class="col-xxl-4 col-xl-12 col-lg-12 col-md-12">
            <div class="card custom-card">
                <div class=" card-body ">
                    <h5 class="mb-3 fs-16">{% trans %}File details:{% endtrans %}</h5>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="table-responsive">
                                <table class="table mb-0 border-top table-bordered text-nowrap">
                                    <tbody>
                                        <tr>
                                            <th scope="row"><span class="text-dark">{% trans %}File name{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.name }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><span class="text-dark">{% trans %}File size{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.size }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><span class="text-dark">{% trans %}Uploaded date{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.createdAt }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><span class="text-dark">{% trans %}Uploaded by{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.createdBy }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><span class="text-dark">{% trans %}Updated date{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.updatedAt }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><span class="text-dark">{% trans %}Updated by{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.updatedBy }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><span class="text-dark">{% trans %}Image width{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.width }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><span class="text-dark">{% trans %}Image height{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.height }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><span class="text-dark">{% trans %}File formate{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.format }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><span class="text-dark">{% trans %}MIME type{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.type }}</span></td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <th scope="row"><span class="text-dark">{% trans %}File location{% endtrans %}</span></th>
                                            <td><span class="text-secondary">{{ file.path ~ '/' ~ file.name }}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->
{% endblock body_content %}
