{#
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) Kataev Yaroslav
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE
 #}
{% extends 'empty.html.twig' %}
{% trans_default_domain 'system' %}

{% block page_header %}
    {{ include('partials/page-header.html.twig', {title: 'File List'|trans, subtitle: 'Administration'|trans}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block body_content %}
    <!-- Start::row-1 -->
    <div class="row">
        {{ include('@System/partials/navbar.html.twig') }}
        <div class="col-lg-8 col-xl-9">
            <div class="row">
                <div class="col-6">
                    <div class="fs-20 mb-4">{% trans %}FILES LIST{% endtrans %}</div>
                </div>
                <div class="col-6 col-auto file-1">
                    <div class="input-group">
                        <input class="form-control" placeholder="{% trans %}Search folder...{% endtrans %}" type="text">
                        <button class="btn btn-primary" type="button">{% trans %}Search{% endtrans %}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                {% set breadcrumb = breadcrumb_path(list) %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{{ path('app_admin_file_manager') }}">Home</a></li>
                        {% for item in breadcrumb %}
                            {% if item.path == '' %}
                                <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="{{ path('app_admin_file_manager_list', {list: item.path}) }}">{{ item.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
            <div class="row">
                {% for article in pagination %}
                    {% if not article.file %}
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card p-0 ">
                                <div class="d-flex align-items-center px-3 pt-3 pb-1">
                                    <label class="custom-control form-checkbox mb-0">
                                        <input type="checkbox" class="form-check-input" name="example-checkbox2" value="option2">
                                        <span class="custom-control-label"></span>
                                    </label>
                                    <div class="float-end ms-auto">
                                        <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                        <div class="dropdown-menu rounded-7">
                                            <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit me-2"></i>{% trans %}Edit{% endtrans %}</a>
                                            <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-share me-2"></i>{% trans %}Share{% endtrans %}</a>
                                            <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-download me-2"></i>{% trans %}Download{% endtrans %}</a>
                                            <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash me-2"></i>{% trans %}Delete{% endtrans %}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0 text-center">
                                    <div class="file-manger-icon">
                                        <a href="{{ path('app_admin_file_manager_list', {list: article.path ~ '/' ~ article.name}) }}"><img src="{{ asset('images/file-manager/folders/' ~ article.logo) }}" alt="img" class="rounded-7"></a>
                                    </div>
                                    <h6 class="mb-1 fw-semibold fs-14">{{ article.name }}</h6>
                                    <span class="text-muted fs-11">{{ article.size }}</span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card p-0 ">
                                <div class="d-flex align-items-center px-3 pt-3 pb-1">
                                    <label class="custom-control form-checkbox mb-0">
                                        <input type="checkbox" class="form-check-input" name="example-checkbox2" value="option2">
                                        <span class="custom-control-label"></span>
                                    </label>
                                    <div class="float-end ms-auto">
                                        <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                        <div class="dropdown-menu rounded-7">
                                            <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit me-2"></i>{% trans %}Edit{% endtrans %}</a>
                                            <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-share me-2"></i>{% trans %}Share{% endtrans %}</a>
                                            <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-download me-2"></i>{% trans %}Download{% endtrans %}</a>
                                            <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash me-2"></i>{% trans %}Delete{% endtrans %}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0 text-center">
                                    <div class="file-manger-icon">
                                        <a href="{{ path('app_admin_file_manager_detalis', {name: article.name, path: list}) }}"><img src="{{ asset('images/file-manager/files/' ~ article.logo) }}" alt="img" class="rounded-7"></a>
                                    </div>
                                    <h6 class="mb-1 fw-semibold fs-14">{{ article.name }}</h6>
                                    <span class="text-muted fs-11">{{ article.size }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="pagination float-end mb-4 flex-wrap navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <!--End::row-1 -->
{% endblock body_content %}
