{##################################################################################
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later; see LICENSE.md
 ##################################################################################}
{% extends 'base.html.twig' %}
{% trans_default_domain 'main' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block header %}
    <div class="d-flex flex-row p-0 justify-content-between bg-body-tertiary">
        <div class="d-flex flex-row p-0 align-self-center">
            <a href="{{ path('app_home') }}" class="m-1">{{ include('kyg.svg.twig') }}</a>
            <div class="text-nowrap align-self-center text-primary m-1 ps-3">
                <h5>{{ app_name }}</h5>
            </div>
        </div>
        <div class="input-group ps-3 m-1 align-self-center">
            <input type="text" class="form-control bg-body-secondary text-body-emphasis border-0 small" placeholder="{% trans %}header.search{% endtrans %}" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search fa-sm"></i></button>
            </div>
        </div>
        <div class="container d-flex flex-row justify-content-end p-0">
            <div class="m-1 ps-2 align-self-center">
                <a href="#" class="fa-layers fa-2xl" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="fa-layers-counter"><h1>+10</h1></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>
                </ul>
            </div>
            <div class="m-1 ps-2 align-self-center">
                <a href="#" class="fa-layers fa-2xl" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-bell"></i>
                    <span class="fa-layers-counter"><h1>23</h1></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a href="#">
                            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle" />
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a href="#">
                            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle" />
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a href="#">
                            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle" />
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>
                </ul>
            </div>
            <div class="m-1 ps-2 align-self-center">
                <a class="d-flex align-items-center dropdown-toggle pe-0" href="#" data-bs-toggle="dropdown">
                    {% if app.user != null %}
                        {% if app.user.iso != null %}
                            <img class="user" alt="" src="{{ asset('images/' ~ app.user.ico) }}" />
                        {% else %}
                            <i class="fa-solid fa-circle-user fa-2xl"></i>
                        {% endif %}
                    {% else %}
                        <i class="fa-solid fa-circle-user fa-2xl"></i>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header text-primary-emphasis">
                        {% if app.user != null %}
                            {% if app.user.name != null %}
                                <h6>{{ app.user.name }}</h6>
                            {% endif %}
                            {% if app.user.post != null %}
                                <span>{{ app.user.post }}</span>
                            {% endif %}
                        {% endif %}
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center text-primary-emphasis" href="users-profile.html">
                            <i class="bi bi-person me-1"></i>
                            <span>{% trans %}user.profile{% endtrans %}</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center text-primary-emphasis" href="users-profile.html">
                            <i class="bi bi-gear me-1"></i>
                            <span>{% trans %}user.settings{% endtrans %}</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center text-primary-emphasis" href="pages-faq.html">
                            <i class="bi bi-question-circle me-1"></i>
                            <span>{% trans %}user.help{% endtrans %}</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center text-primary-emphasis" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-right me-1"></i>
                            <span>{% trans %}user.out{% endtrans %}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown bd-mode-toggle m-1 ps-2 align-self-center">{{ include('button.html.twig') }}</div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="d-flex flex-row bg-body-tertiary p-0 main">
        <div class="flex-shrink-0 p-1 col-2 bg-primary-subtle">menu</div>
        <div class="d-flex col-8 p-1 bg-body-secondary text-body-emphasis">
            {% block content %}{% endblock %}
        </div>
        <div class="d-flex col-2 p-1 bg-info-subtle text-info-emphasis">mesage</div>
    </div>
{% endblock %}
