{#******************************************************************************
  * @Project    KYG Framework for business
  * @Version    1.0.0
  *
  * @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
  * @E-mail     yaroslaw74@gmail.com
  * @License    GNU General Public License version 3 or later; see LICENSE.md
  ******************************************************************************#}
{% extends "core.html.twig" %}

{% block style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
	<link rel="stylesheet" href="{{ asset('fontawesome/css/svg-with-js.min.css') }}">
	{% block style_home %}{% endblock %}
{% endblock %}

{% block script_head %}
	{{ parent() }}
	<script src="{{ asset('fontawesome/js/all.min.js') }}"></script>
	<script src="{{ asset('fontawesome/js/fontawesome.min.js') }}"></script>
	{% block javascript_head %}{% endblock %}
{% endblock %}

{% block header %}
	<div class="items"><img alt="" class="logo" src="{{ asset('icon/kyg.png') }}"></div>
	<div class="items"><i class="fa-solid fa-bars fa-2xl"></i></div>
	<div class="name flex_0_0_auto">KYG Framework for business</div>
	<div class="flex_0_1_100"></div>
	<div class="items"><i class="fa-solid fa-gear fa-2xl"></i></div>
{% endblock %}

{% block main %}
	<div class="menu">
		{% block menu %}{% endblock %}
	</div>
	<div class="work flex_0_1_100 flex_row">
		<div class="content flex_0_1_100">
			{% block content %}{% endblock %}
		</div>
		<div class="bar flex_column">
			<div class="top_info flex_0_0_75">
				{% block top_info %}{% endblock %}
			</div>
			<div class="bottom_info flex_0_0_25">
				{% block bottom_info %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

{% block error %}
	{% block home_error %}{% endblock %}
{% endblock %}

{% block script_body %}
	{% block javascript_body %}{% endblock %}
{% endblock %}
