{#
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) Kataev Yaroslav
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE
 #}
{% trans_default_domain 'header' %}
<!-- app-header -->
<header class="app-header">

    <!-- Start::main-header-container -->
    <div class="main-header-container container-fluid">

        <!-- Start::header-content-left -->
        <div class="header-content-left">

            <!-- Start::header-element -->
            <div class="header-element">
                <div class="horizontal-logo">
                    <a href="{{ path('app_home') }}" class="header-logo">
                        {% if app_desktop_logo %}
                            <img src="{{ asset('theme/images/brand-logos/' ~ app_desktop_logo) }}" alt="logo" class="desktop-logo">
                        {% else %}
                            <img src="{{ asset('images/brand-logos/kyg-desktop-logo.png') }}" alt="logo" class="desktop-logo">
                        {% endif %}
                        {% if app_toggle_logo %}
                            <img src="{{ asset('theme/images/brand-logos/' ~ app_toggle_logo) }}" alt="logo" class="toggle-logo">
                        {% else %}
                            <img src="{{ asset('bundles/KYG-Framework/brand-logos/kyg-logo.png') }}" alt="logo" class="toggle-logo">
                        {% endif %}
                        {% if app_desktop_white %}
                            <img src="{{ asset('theme/images/brand-logos/' ~ app_desktop_white) }}" alt="logo" class="desktop-white">
                        {% else %}
                            <img src="{{ asset('images/brand-logos/kyg-desktop-white.png') }}" alt="logo" class="desktop-white">
                        {% endif %}
                        {% if app_toggle_white %}
                            <img src="{{ asset('theme/images/brand-logos/' ~ app_toggle_white) }}" alt="logo" class="toggle-white">
                        {% else %}
                            <img src="{{ asset('bundles/KYG-Framework/brand-logos/kyg-logo.png') }}" alt="logo" class="toggle-white">
                        {% endif %}
                    </a>
                </div>
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element">
                <!-- Start::header-link -->
                <a aria-label="Hide Sidebar" class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle" data-bs-toggle="sidebar" href="javascript:void(0);">
                    <i class="header-icon fe fe-align-left"></i>
                </a>
                <div class="main-header-center d-none d-lg-block">
                    <input class="form-control" placeholder="{% trans %}Search for anything...{% endtrans %}" type="search"><button class="btn"><i class="fa fa-search d-none d-md-block"></i></button>
                </div>
                <!-- End::header-link -->
            </div>
            <!-- End::header-element -->

        </div>
        <!-- End::header-content-left -->

        <!-- Start::header-content-right -->
        <div class="header-content-right">

            <div class="header-element Search-element d-block d-lg-none">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                    {{ ux_icon('feather:search', {class: 'header-link-icon'}) }}
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <ul class="main-header-dropdown dropdown-menu dropdown-menu-end Search-element-dropdown" data-popper-placement="none">
                    <li>
                        <div class="input-group w-100 p-2">
                            <input type="text" class="form-control" placeholder="{% trans %}Search....{% endtrans %}">
                            <div class="btn btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Start::header-element -->
            <div class="header-element header-theme-mode">
                <!-- Start::header-link|layout-setting -->
                <a href="javascript:void(0);" class="header-link layout-setting">
                    <span class="light-layout">
                        <!-- Start::header-link-icon -->
                        {{ ux_icon('feather:moon', {class: 'header-link-icon', height: '24px', width: '24px', fill: 'currentColor'}) }}
                        <!-- End::header-link-icon -->
                    </span>
                    <span class="dark-layout">
                        <!-- Start::header-link-icon -->
                        {{ ux_icon('feather:sun', {class: 'header-link-icon', height: '24px', width: '24px', fill: 'currentColor'}) }}
                        <!-- End::header-link-icon -->
                    </span>
                </a>
                <!-- End::header-link|layout-setting -->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element messages-dropdown">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                    {{ ux_icon('feather:mail', {class: 'header-link-icon', height: '24px', width: '24px', fill: 'currentColor'}) }}
                    <span class="pulse-danger"></span>
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <!-- Start::main-header-dropdown -->
                <div class="main-header-dropdown dropdown-menu dropdown-menu-end main-header-message" data-popper-placement="none">
                    <div class="menu-header-content bg-primary text-fixed-white">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0 fs-15 fw-semibold text-fixed-white">{% trans %}Messages{% endtrans %}</h6>
                            <span class="badge rounded-pill bg-warning pt-1 text-fixed-black">{% trans %}Mark All Read{% endtrans %}</span>
                        </div>
                        <p class="dropdown-title-text subtext mb-0 text-fixed-white op-6 pb-0 fs-12 ">{% trans with {'%messages%': 0} %}You have %messages% unread messages{% endtrans %}</p>
                    </div>
                    <div><hr class="dropdown-divider"></div>
                    <ul class="list-unstyled mb-0" id="header-cart-items-scroll">
                        <li class="dropdown-item">
                            <div class="d-flex messages">
                                <span class="avatar avatar-md me-2 online avatar-rounded flex-shrink-0">
                                    <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                                </span>
                                <div>
                                    <div class="d-flex">
                                        <a href="chat.html"><h6 class="mb-1 name">Petey Cruiser</h6></a>
                                    </div>
                                    <p class="mb-0 fs-12 desc">I'm sorry but i'm not sure how to help you with that......</p>
                                    <p class="time mb-0 text-start float-start ms-2 mt-2">Mar 15 3:55 PM</p>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="d-flex messages">
                                <span class="avatar avatar-md me-2 online avatar-rounded flex-shrink-0">
                                    <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                                </span>
                                <div>
                                    <div class="d-flex">
                                        <a href="chat.html"><h6 class="mb-1 name">Jimmy Changa</h6></a>
                                    </div>
                                    <p class="mb-0 fs-12 desc">All set ! Now, time to get to you now......</p>
                                    <p class="time mb-0 text-start float-start ms-2 mt-2">Mar 06 01:12 AM</p>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="d-flex messages">
                                <span class="avatar avatar-md me-2 online avatar-rounded flex-shrink-0">
                                    <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                                </span>
                                <div>
                                    <div class="d-flex">
                                        <a href="chat.html"><h6 class="mb-1 name">Graham Cracker</h6></a>
                                    </div>
                                    <p class="mb-0 fs-12 desc">Are you ready to pickup your Delivery...</p>
                                    <p class="time mb-0 text-start float-start ms-2 mt-2">Feb 25 10:35 AM</p>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="d-flex messages">
                                <span class="avatar avatar-md me-2 online avatar-rounded flex-shrink-0">
                                    <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                                </span>
                                <div>
                                    <div class="d-flex">
                                        <a href="chat.html"><h6 class="mb-1 name">Donatella Nobatti</h6></a>
                                    </div>
                                    <p class="mb-0 fs-12 desc">Here are some products ...</p>
                                    <p class="time mb-0 text-start float-start ms-2 mt-2">Feb 12 05:12 PM</p>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="d-flex messages">
                                <span class="avatar avatar-md me-2 online avatar-rounded flex-shrink-0">
                                    <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                                </span>
                                <div>
                                    <div class="d-flex">
                                        <a href="chat.html"><h6 class="mb-1 name">Anne Fibbiyon</h6></a>
                                    </div>
                                    <p class="mb-0 fs-12 desc">I'm sorry but i'm not sure how...</p>
                                    <p class="time mb-0 text-start float-start ms-2 mt-2">Jan 29 03:16 PM</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center dropdown-footer">
                        <a href="checkout.html" class="text-primary fs-13">{% trans %}VIEW ALL{% endtrans %}</a>
                    </div>
                </div>
                <!-- End::main-header-dropdown -->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element notifications-dropdown main-header-notification">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="messageDropdown" aria-expanded="false">
                    {{ ux_icon('feather:bell', {class: 'header-link-icon', height: '24px', width: '24px', fill: 'currentColor'}) }}
                    <span class="pulse-success"></span>
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <!-- Start::main-header-dropdown -->
                <div class="main-header-dropdown dropdown-menu dropdown-menu-end main-header-message" data-popper-placement="none">
                    <div class="menu-header-content bg-primary text-fixed-white">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0 fs-15 fw-semibold text-fixed-white">{% trans %}Notifications{% endtrans %}</h6>
                            <span class="badge rounded-pill bg-warning pt-1 text-fixed-black">{% trans %}Mark All Read{% endtrans %}</span>
                        </div>
                        <p class="dropdown-title-text subtext mb-0 text-fixed-white op-6 pb-0 fs-12 ">{% trans with {'%notifications%': 0} %}You have %notifications% unread Notifications{% endtrans %}</p>
                    </div>
                    <div><hr class="dropdown-divider"></div>
                    <ul class="list-unstyled mb-0" id="header-notification-scroll">
                        <li class="dropdown-item px-3">
                            <div class="d-flex">
                                <span class="avatar avatar-md me-2 avatar-rounded flex-shrink-0 bg-pink">
                                    <i class="la la-file-alt fs-20"></i>
                                </span>
                                <div class="ms-3">
                                    <a href="mail.html"><h5 class="notification-label text-dark mb-1">New files available</h5></a>
                                    <div class="notification-subtext">10 hour ago</div>
                                </div>
                                <div class="ms-auto" >
                                    <a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item px-3">
                            <div class="d-flex">
                                <span class="avatar avatar-md me-2 avatar-rounded flex-shrink-0 bg-purple">
                                    <i class="la la-gem fs-20"></i>
                                </span>
                                <div class="ms-3">
                                    <a href="mail.html"><h5 class="notification-label text-dark mb-1">Updates Available</h5></a>
                                    <div class="notification-subtext">2 days ago</div>
                                </div>
                                <div class="ms-auto" >
                                    <a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item px-3">
                            <div class="d-flex">
                                <span class="avatar avatar-md me-2 avatar-rounded flex-shrink-0 bg-success">
                                    <i class="la la-shopping-basket fs-20"></i>
                                </span>
                                <div class="ms-3">
                                    <a href="mail.html"><h5 class="notification-label text-dark mb-1">New Order Received</h5></a>
                                    <div class="notification-subtext">1 hour ago</div>
                                </div>
                                <div class="ms-auto" >
                                    <a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item px-3">
                            <div class="d-flex">
                                <span class="avatar avatar-md me-2 avatar-rounded flex-shrink-0 bg-warning">
                                    <i class="la la-envelope-open fs-20 text-fixed-white"></i>
                                </span>
                                <div class="ms-3">
                                    <a href="mail.html"><h5 class="notification-label text-dark mb-1">New review received</h5></a>
                                    <div class="notification-subtext">1 day ago</div>
                                </div>
                                <div class="ms-auto" >
                                    <a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item px-3">
                            <div class="d-flex">
                                <span class="avatar avatar-md me-2 avatar-rounded flex-shrink-0 bg-danger">
                                    <i class="la la-user-check fs-20"></i>
                                </span>
                                <div class="ms-3">
                                    <a href="mail.html"><h5 class="notification-label text-dark mb-1">22 verified registrations</h5></a>
                                    <div class="notification-subtext">2 hour ago</div>
                                </div>
                                <div class="ms-auto" >
                                    <a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item px-3">
                            <div class="d-flex">
                                <span class="avatar avatar-md me-2 avatar-rounded flex-shrink-0 bg-primary">
                                    <i class="la la-check-circle fs-20"></i>
                                </span>
                                <div class="ms-3">
                                    <a href="mail.html"><h5 class="notification-label text-dark mb-1">Project has been approved</h5></a>
                                    <div class="notification-subtext">4 hour ago</div>
                                </div>
                                <div class="ms-auto" >
                                    <a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center dropdown-footer">
                        <a href="checkout.html" class="text-primary fs-13">{% trans %}VIEW ALL{% endtrans %}</a>
                    </div>
                </div>
                <!-- End::main-header-dropdown -->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element header-fullscreen">
                <!-- Start::header-link -->
                <a onclick="_openFullscreen();" href="javascript:void(0);" class="header-link">
                    {{ ux_icon('feather:maximize', {class: 'full-screen-open full-screen-icon header-link-icon', height: '24px', width: '24px', fill: 'currentColor'}) }}
                    {{ ux_icon('feather:minimize', {class: 'full-screen-close full-screen-icon header-link-icon d-none', height: '24px', width: '24px', fill: 'currentColor'}) }}
                </a>
                <!-- End::header-link -->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element header-sidebar">
                <!-- Start::header-link-->
                <a href="javascript:void(0);" class="header-link" data-bs-toggle="offcanvas" data-bs-target="#header-sidebar">
                    {{ ux_icon('feather:menu', {class: 'header-link-icon', fill: 'none', stroke: 'currentColor'}) }}
                </a>
                <!-- End::header-link-->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element headerProfile-dropdown">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    {% if app.user %}
                        {% if app.user.gravatar %}
                            {% if gravatar_exists(app.user.gravatar) %}
                                <img src="{{ gravatar(app.user.gravatar) }}" alt="avatar" width="37" height="37" class="rounded-circle">
                            {% else %}
                                {% if app.user.avatar %}
                                    <img src="{{ asset('uploads/avatar/' ~ app.user.avatar) }}" alt="avatar" width="37" height="37" class="rounded-circle">
                                {% else %}
                                    <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="avatar" width="37" height="37" class="rounded-circle">
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if app.user.avatar %}
                                <img src="{{ asset('uploads/avatar/' ~ app.user.avatar) }}" alt="img" width="37" height="37" class="rounded-circle">
                            {% else %}
                                <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img" width="37" height="37" class="rounded-circle">
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img" width="37" height="37" class="rounded-circle">
                    {% endif %}
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <ul class="main-header-dropdown dropdown-menu pt-0 header-profile-dropdown dropdown-menu-end main-profile-menu" aria-labelledby="mainHeaderProfile">
                    <li>
                        <div class="main-header-profile bg-primary menu-header-content text-fixed-white">
                            <div class="my-auto">
                                <h6 class="mb-0 lh-1 text-fixed-white">Petey Cruiser</h6><span class="fs-11 op-7 lh-1">Premium Member</span>
                            </div>
                        </div>
                    </li>
                    <li><a class="dropdown-item d-flex" href="profile.html"><i class="bx bx-user-circle fs-18 me-2 op-7"></i>{% trans %}Profile{% endtrans %}</a></li>
                    <li><a class="dropdown-item d-flex" href="editprofile.html"><i class="bx bx-cog fs-18 me-2 op-7"></i>{% trans %}Edit Profile{% endtrans %}</a></li>
                    <li><a class="dropdown-item d-flex border-block-end" href="mail.html"><i class="bx bxs-inbox fs-18 me-2 op-7"></i>{% trans %}Inbox{% endtrans %}</a></li>
                    <li><a class="dropdown-item d-flex" href="chat.html"><i class="bx bx-envelope fs-18 me-2 op-7"></i>{% trans %}Messages{% endtrans %}</a></li>
                    <li><a class="dropdown-item d-flex border-block-end" href="editprofile.html"><i class="bx bx-slider-alt fs-18 me-2 op-7"></i>{% trans %}Account Settings{% endtrans %}</a></li>
                    <li><a class="dropdown-item d-flex" href="{{ path('app_logout') }}"><i class="bx bx-log-out fs-18 me-2 op-7"></i>{% trans %}Sign Out{% endtrans %}</a></li>
                </ul>
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element">
                <!-- Start::header-link|switcher-icon -->
                <a href="javascript:void(0);" class="header-link switcher-icon" data-bs-toggle="offcanvas" data-bs-target="#switcher-canvas">
                    {{ ux_icon('feather:settings', {class: 'header-link-icon', width: '24', height: '24'}) }}
                </a>
                <!-- End::header-link|switcher-icon -->
            </div>
            <!-- End::header-element -->

        </div>
        <!-- End::header-content-right -->

    </div>
    <!-- End::main-header-container -->

</header>
<!-- /app-header -->

<!-- Start::Off-canvas sidebar-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="header-sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header rounded-0">
        <h5 class="fs-14 text-uppercase mb-0 fw-semibold" id="sidebarLabel">{% trans %}Notifications{% endtrans %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body rounded-0 p-0">
        <ul class="nav nav-tabs tab-style-1 d-block" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#chat" aria-current="page" href="#chat" aria-selected="false" role="tab" tabindex="-1"><i class="fe fe-message-circle fs-15 me-2"></i>{% trans %}Chat{% endtrans %}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#notifications" href="#notifications" aria-selected="false" role="tab" tabindex="-1"><i class="fe fe-bell fs-15 me-2"></i>{% trans %}Notifications{% endtrans %}</a>
            </li>
            <li class="nav-item mb-0" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#friends" href="#friends" aria-selected="true" role="tab"><i class="fe fe-users fs-15 me-2"></i>{% trans %}Friends{% endtrans %}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane border-start-0 border-end-0 rounded-0 p-0" id="chat" role="tabpanel">
                <div class="list d-flex align-items-center border-bottom p-3">
                    <div class="">
                        <span class="avatar bg-primary rounded-circle avatar-md">CH</span>
                    </div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);" >
                        <p class="mb-0 d-flex ">
                            <b>New Websites is Created</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-clock text-muted me-1 fs-11"></i>
                                <small class="text-muted ms-auto">30 mins ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list d-flex align-items-center border-bottom p-3">
                    <div class="">
                        <span class="avatar bg-danger rounded-circle avatar-md">N</span>
                    </div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);" >
                        <p class="mb-0 d-flex ">
                            <b>Prepare For the Next Project</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-clock text-muted me-1 fs-11"></i>
                                <small class="text-muted ms-auto">2 hours ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list d-flex align-items-center border-bottom p-3">
                    <div class="">
                        <span class="avatar bg-info rounded-circle avatar-md">S</span>
                    </div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);" >
                        <p class="mb-0 d-flex ">
                            <b>Decide the live Discussion</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-clock text-muted me-1 fs-11"></i>
                                <small class="text-muted ms-auto">3 hours ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list d-flex align-items-center border-bottom p-3">
                    <div class="">
                        <span class="avatar bg-warning rounded-circle avatar-md">K</span>
                    </div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);" >
                        <p class="mb-0 d-flex ">
                            <b>Meeting at 3:00 pm</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-clock text-muted me-1 fs-11"></i>
                                <small class="text-muted ms-auto">4 hours ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list d-flex align-items-center border-bottom p-3">
                    <div class="">
                        <span class="avatar bg-success rounded-circle avatar-md">R</span>
                    </div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);" >
                        <p class="mb-0 d-flex ">
                            <b>Prepare for Presentation</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-clock text-muted me-1 fs-11"></i>
                                <small class="text-muted ms-auto">1 day ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list d-flex align-items-center border-bottom p-3">
                    <div class="">
                        <span class="avatar bg-pink rounded-circle avatar-md">MS</span>
                    </div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);" >
                        <p class="mb-0 d-flex ">
                            <b>Prepare for Presentation</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-clock text-muted me-1 fs-11"></i>
                                <small class="text-muted ms-auto">1 day ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list d-flex align-items-center border-bottom p-3">
                    <div class="">
                        <span class="avatar bg-purple rounded-circle avatar-md">L</span>
                    </div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);" >
                        <p class="mb-0 d-flex ">
                            <b>Prepare for Presentation</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-clock text-muted me-1 fs-11"></i>
                                <small class="text-muted ms-auto">45 minutes ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list d-flex align-items-center p-3">
                    <div class="">
                        <span class="avatar bg-blue rounded-circle avatar-md">U</span>
                    </div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);" >
                        <p class="mb-0 d-flex ">
                            <b>Prepare for Presentation</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-clock text-muted me-1 fs-11"></i>
                                <small class="text-muted ms-auto">2 days ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tab-pane border-start-0 border-end-0 rounded-0 p-0" id="notifications" role="tabpanel">
                <div class="list-group list-group-flush ">
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-lg online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-3">
                            <strong>Madeleine</strong> Hey! there I' am available....
                            <div class="small text-muted">
                                3 hours ago
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-lg online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-3">
                            <strong>Anthony</strong> New product Launching...
                            <div class="small text-muted">
                                5 hour ago
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-lg avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-3">
                            <strong>Olivia</strong> New Schedule Realease......
                            <div class="small text-muted">
                                45 minutes ago
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-lg avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-3">
                            <strong>Madeleine</strong> Hey! there I' am available....
                            <div class="small text-muted">
                                3 hours ago
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-lg avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-3">
                            <strong>Anthony</strong> New product Launching...
                            <div class="small text-muted">
                                5 hour ago
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-lg avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-3">
                            <strong>Olivia</strong> New Schedule Realease......
                            <div class="small text-muted">
                                45 minutes ago
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-lg avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-3">
                            <strong>Olivia</strong> Hey! there I' am available....
                            <div class="small text-muted">
                                12 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane border-start-0 border-end-0 rounded-0 p-0 active show" id="friends" role="tabpanel">
                <div class="list-group list-group-flush ">
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Mozelle Belt</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Florinda Carasco</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel" ><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Alina Bernier</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Zula Mclaughin</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Isidro Heide</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Mozelle Belt</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" ><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Florinda Carasco</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Alina Bernier</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" ><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Zula Mclaughin</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel" ><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Isidro Heide</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" ><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Florinda Carasco</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Alina Bernier</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Zula Mclaughin</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                    <div class="list-group-item d-flex  align-items-center">
                        <span class="avatar avatar-md online avatar-rounded flex-shrink-0">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" alt="img">
                        </span>
                        <div class="ms-2">
                            <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Isidro Heide</div>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- End::Off-canvas sidebar-->

<!-- Message Modal -->
<div class="modal fade" id="chatmodel" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-right chatbox" role="document">
        <div class="modal-content chat border-0">
            <div class="card overflow-hidden mb-0 border-0 shadow-none">
                <!-- action-header -->
                <div class="action-header clearfix">
                    <div class="float-start hidden-xs d-flex">
                        <div class="avatar avatar-lg rounded-circle me-3">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img" alt="img">
                        </div>
                        <div class="align-items-center mt-2">
                            <h5 class="text-fixed-white mb-0">Daneil Scott</h5>
                            <span class="dot-label bg-success"></span><span class="me-3 text-fixed-white">online</span>
                        </div>
                    </div>
                    <ul class="ah-actions actions align-items-center float-end">
                        <li class="call-icon">
                            <a href="" class="d-done d-md-block phone-button" data-bs-toggle="modal" data-bs-target="#audiomodal">
                                <i class="fe fe-phone"></i>
                            </a>
                        </li>
                        <li class="video-icon">
                            <a href="" class="d-done d-md-block phone-button" data-bs-toggle="modal" data-bs-target="#videomodal">
                                <i class="fe fe-video"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="" data-bs-toggle="dropdown" aria-expanded="true">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li class="dropdown-item"><i class="fa fa-user-circle"></i>{% trans %}View profile{% endtrans %}</li>
                                <li class="dropdown-item"><i class="fa fa-users"></i>{% trans %}Add friends{% endtrans %}</li>
                                <li class="dropdown-item"><i class="fa fa-plus"></i>{% trans %}Add to group{% endtrans %}</li>
                                <li class="dropdown-item"><i class="fa fa-ban"></i>{% trans %}Block{% endtrans %}</li>
                            </ul>
                        </li>
                        <li>
                            <a href=""  class="" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fe fe-x-circle text-fixed-white"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- action-header end -->

                <!-- msg_card_body -->
                <div class="card-body msg_card_body">
                    <div class="chat-box-single-line">
                        <abbr class="timestamp">February 1st, 2019</abbr>
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                        <div class="msg_cotainer">
                            Hi, how are you Jenna Side?
                            <span class="msg_time">8:40 AM, Today</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end ">
                        <div class="msg_cotainer_send">
                            Hi Connor Paige i am good tnx how about you?
                            <span class="msg_time_send">8:55 AM, Today</span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                    </div>
                    <div class="d-flex justify-content-start ">
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                        <div class="msg_cotainer">
                            I am good too, thank you for your chat template
                            <span class="msg_time">9:00 AM, Today</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end ">
                        <div class="msg_cotainer_send">
                            You welcome Connor Paige
                            <span class="msg_time_send">9:05 AM, Today</span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                    </div>
                    <div class="d-flex justify-content-start ">
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                        <div class="msg_cotainer">
                            Yo, Can you update Views?
                            <span class="msg_time">9:07 AM, Today</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            But I must explain to you how all this mistaken  born and I will give
                            <span class="msg_time_send">9:10 AM, Today</span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                    </div>
                    <div class="d-flex justify-content-start ">
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                        <div class="msg_cotainer">
                            Yo, Can you update Views?
                            <span class="msg_time">9:07 AM, Today</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            But I must explain to you how all this mistaken  born and I will give
                            <span class="msg_time_send">9:10 AM, Today</span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                    </div>
                    <div class="d-flex justify-content-start ">
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                        <div class="msg_cotainer">
                            Yo, Can you update Views?
                            <span class="msg_time">9:07 AM, Today</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            But I must explain to you how all this mistaken  born and I will give
                            <span class="msg_time_send">9:10 AM, Today</span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="img_cont_msg">
                            <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user_img_msg" alt="img">
                        </div>
                        <div class="msg_cotainer">
                            Okay Bye, text you later..
                            <span class="msg_time">9:12 AM, Today</span>
                        </div>
                    </div>
                </div>
                <!-- msg_card_body end -->
                <!-- card-footer -->
                <div class="card-footer border-top">
                    <div class="msb-reply d-flex">
                        <div class="input-group">
                            <input type="text" class="form-control " placeholder="{% trans %}Typing....{% endtrans %}">
                            <button type="button" class="btn btn-primary ">
                                <i class="far fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div><!-- card-footer end -->
            </div>
        </div>
    </div>
</div>
<!--End modal -->

<!--Video Modal -->
<div id="videomodal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-fixed-dark border-0">
            <div class="modal-body mx-auto text-center p-5">
                <h5 class="text-fixed-white">{% trans %}Video call{% endtrans %}</h5>
                <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user-img-circle h-8 w-8 mt-4 mb-3" alt="img">
                <h4 class="mb-1 fw-semibold text-fixed-white">Daneil Scott</h4>
                <h6 class="loading text-fixed-white">{% trans %}Calling...{% endtrans %}</h6>
                <div class="mt-5">
                    <div class="row">
                        <div class="col-4">
                            <a class="icon icon-shape rounded-circle mb-0" href="javascript:void(0);">
                                <i class="fas fa-video-slash"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="icon icon-shape rounded-circle text-fixed-white mb-0" href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fas fa-phone bg-danger text-fixed-white"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="icon icon-shape rounded-circle mb-0" href="javascript:void(0);">
                                <i class="fas fa-microphone-slash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- modal-body -->
        </div>
    </div><!-- modal-dialog -->
</div>
<!--End modal -->

<!-- Audio Modal -->
<div id="audiomodal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-0">
            <div class="modal-body mx-auto text-center p-5">
                <h6>{% trans %}Voice call{% endtrans %}</h6>
                <img src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}" class="rounded-circle user-img-circle h-8 w-8 mt-4 mb-3" alt="img">
                <h5 class="mb-1 fw-medium">Daneil Scott</h5>
                <h6 class="loading">{% trans %}Calling...{% endtrans %}</h6>
                <div class="mt-5">
                    <div class="row">
                        <div class="col-4">
                            <a class="icon icon-shape rounded-circle mb-0" href="javascript:void(0);">
                                <i class="fas fa-volume-up bg-light text-dark"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="icon icon-shape rounded-circle text-fixed-white mb-0" href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fas fa-phone text-fixed-white bg-success"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="icon icon-shape  rounded-circle mb-0" href="javascript:void(0);">
                                <i class="fas fa-microphone-slash bg-light text-dark"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- modal-body -->
        </div>
    </div><!-- modal-dialog -->
</div>
<!--End modal -->

<!-- Full Screen JS -->
<script src="{{ asset('js/full-screen.js') }}"></script>

<!-- Header Dropdown Close Button JS -->
<script src="{{ asset('js/close-button.js') }}"></script>
