{#
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) Kataev Yaroslav
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE
 #}
<!-- Start::app-sidebar -->
<aside class="app-sidebar sticky" id="sidebar">

    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a href="{{ path('app_home') }}" class="header-logo">
            {% if app_desktop_logo %}
                <img src="{{ asset('theme/images/brand-logos/' ~ app_desktop_logo) }}" alt="logo" class="desktop-logo">
            {% else %}
                <img src="{{ asset('images/brand-logos/kyg-desktop-logo.png') }}" alt="logo" class="desktop-logo">
            {% endif %}
            {% if app_toggle_logo %}
                <img src="{{ asset('theme/images/brand-logos/' ~ app_toggle_logo) }}" alt="logo" class="toggle-logo">
            {% else %}
                <img src="{{ asset('images/brand-logos/kyg-logo.png') }}" alt="logo" class="toggle-logo">
            {% endif %}
            {% if app_desktop_white %}
                <img src="{{ asset('theme/images/brand-logos/' ~ app_desktop_white) }}" alt="logo" class="desktop-white">
            {% else %}
                <img src="{{ asset('images/brand-logos/kyg-desktop-white.png') }}" alt="logo" class="desktop-white">
            {% endif %}
            {% if app_toggle_white %}
                <img src="{{ asset('theme/images/brand-logos/' ~ app_toggle_white) }}" alt="logo" class="toggle-white">
            {% else %}
                <img src="{{ asset('images/brand-logos/kyg-logo.png') }}" alt="logo" class="toggle-white">
            {% endif %}
        </a>
    </div>
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        {% block side_nav %}
            <nav class="main-menu-container nav nav-pills flex-column sub-open">
                <div class="slide-left" id="slide-left">{{ ux_icon('slide:slide-left') }}</div>
                {{ knp_menu_render('app_sidebar_menu') }}
                <div class="slide-right" id="slide-right">{{ ux_icon('slide:slide-right') }}</div>
            </nav>
        {% endblock %}
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>
<!-- End::app-sidebar -->
