{##################################################################################
 #  @Project    Katyargeor Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE.md
 ##################################################################################}
{% extends 'add.html.twig' %}
{% trans_default_domain 'install' %}

{% block main %}
	<div class="border rounded-3 shadow bg-secondary-subtle d-flex flex-row justify-content-center main p-3 mb-3 ms-2 me-2">
		<div class="flex-column">
			{% if error %}
                <div class="alert alert-danger d-flex flex-row justify-content-center">{{ error }}</div>
            {% endif %}
			<nav>
  				<div class="nav nav-tabs" id="nav-tab" role="tablist">
    				<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">{% trans %}install.conf.bd.tabs{% endtrans %}</button>
    				<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">{% trans %}install.conf.system.tabs{% endtrans %}</button>
				</div>
			</nav>
			<form action="{{ path('login_install') }}" method="post">
				<div class="tab-content text-primary-emphasis" id="nav-tabContent">
  					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
						<div class="d-flex justify-content-center">
							<h3 class="mb-3 font-weight-normal text-primary-emphasis">{% trans %}install.conf.bd.tabs{% endtrans %}</h3>
						</div>
    					<div class="d-flex justify-content-center">
							<div class="flex-column">
								<table>
									<tr>
										<td><label for="HostDB" class="form-label space pe-2">{% trans %}install.conf.bd.host{% endtrans %}</label></td>
										<td><input type="text" name="HostDB" required size="15" value="{{ HostDB }}" class="form-control space"></td>
									</tr>
									<tr>
										<td><label for="PortDB" class="form-label space pe-2">{% trans %}install.conf.bd.port{% endtrans %}</label></td>
										<td><input type="text" name="PortD B" required size="15" class="form-control space" value="{{ PortDB }}"></td>
									</tr>
									<tr>
										<td><label for="NameDB" class="form-label space pe-2">{% trans %}install.conf.bd.name{% endtrans %}</label></td>
										<td><input type="text" name="NameDB" required size="15" class="form-control space" value="{{ NameDB }}"></td>
									</tr>
									<tr>
										<td><label for="UserDB" class="form-label space pe-2">{% trans %}install.conf.bd.user{% endtrans %}</label></td>
										<td><input type="text" name="UserDB" required size="15" class="form-control space" value="{{ UserDB }}"></td>
									</tr>
									<tr>
										<td><label for="PassDB" class="form-label space pe-2">{% trans %}install.conf.bd.password{% endtrans %}</label></td>
										<td><input type="text" name="PassDB" required size="15" class="form-control space" value="{{ PassDB }}"></td>
									</tr>
								</table>
								<div class="flex-row d-flex justify-content-center pt-1">
									<button type="reset" class="btn btn-primary">{% trans %}install.button.reset{% endtrans %}</button>
								</div>
							</div>
						</div>
					</div>
  					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
						<div class="d-flex justify-content-center">
							<h3 class="mb-3 font-weight-normal text-primary-emphasis">{% trans %}install.conf.system.tabs{% endtrans %}</h3>
						</div>
    					<div class="d-flex justify-content-center">
							<div class="flex-column">
								<div class="flex-row d-flex justify-content-between pb-1">
									<label for="uri" class="form-label space pe-2">{% trans %}install.conf.system.uri{% endtrans %}</label>
									<input type="text" name="uri" required value="{{ uri }}" class="form-control space" style="width: 300px">
								</div>
								<div class="flex-row d-flex justify-content-between pb-1">
									<label for="TimeZone" class="form-label space pe-2">{% trans %}install.conf.system.timezone{% endtrans %}</label>
									<select class="form-select" aria-label="Default select example" size="1" required name="TimeZone" id="TimeZone" style="width: 300px">
										{% foreach TimeZone as Value %}
											{% if Value == TimeZoneDefault %}
												<option value="{{ Value }}" lang="en" selected="selected">{{ Value }}</option>
											{% else %}
												<option value="{{ Value }}" lang="en">{{ Value }}</option>
											{% endif %}
										{% endforeach %}			
									</select>
								</div>
								<div class="flex-row d-flex justify-content-between pb-1">
									<label for="DataFormat" class="form-label space pe-2">{% trans %}install.conf.system.data{% endtrans %}</label>
									<select class="form-select" aria-label="Default select example" size="1" required name="DataFormat" id="DataFormat" style="width: 300px">
										{% foreach DataFormat as key => Value %}
											{% if key == DataFormatDefault %}
												<option value="{{ key }}" lang="en" selected="selected">{{ key }} - {{ Value.example }}</option>
											{% else %}
												<option value="{{ key }}" lang="en">{{ key }} - {{ Value.example }}</option>
											{% endif %}
										{% endforeach %}
									</select>
								</div>
								<div class="flex-row d-flex justify-content-between pb-1">
									<label for="TimeFormat" class="form-label space pe-2">{% trans %}install.conf.system.time{% endtrans %}</label>
									<select class="form-select" aria-label="Default select example" size="1" required name="TimeFormat" id="TimeFormat" style="width: 300px">
										{% foreach TimeFormat as key => Value %}
											{% if key == TimeFormatDefault %}
												<option value="{{ key }}" lang="en">{{ key }} - {{ Value.example }}</option>
											{% else %}
												<option value="{{ key }}" lang="en">{{ key }} - {{ Value.example }}</option>
											{% endif %}
										{% endforeach %}
									</select>
								</div>
								<div class="flex-row d-flex justify-content-center">
									<button type="submit" class="btn btn-primary">{% trans %}install.button.submit{% endtrans %}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
   