{% extends 'add.html.twig' %}

{% block main %}
    <div class="border rounded-3 shadow bg-secondary-subtle d-flex flex-row justify-content-center main p-3 mb-3 ms-2 me-2">
        <form action="#" method="post">
			<select name="_locale" size="1" required>
                {% foreach Languages as key => Value %}
				    {% if key == app.locale %}
					    <option value="{{ key }}" lang="{{ key }}" dir="{{ Value.dir }}" selected="selected">{{ Value.name }}</option>
				    {% else %}
                        {% if key in app.enabled_locales %}
    					    <option value="{{ key }}" lang="{{ key }}" dir="{{ Value.dir }}">{{ Value.name }}</option>
                        {% else %}
                            <option value="{{ key }}" lang="{{ key }}" dir="{{ Value.dir }}" disabled>{{ Value.name }}</option>
                        {% endif %}
                    {% endif %}
			    {% endforeach %}
		    </select>
			<input type="submit" value="OK">
		</form>
    </div>
{% endblock %}
