{% extends 'add.html.twig' %}
{% trans_default_domain 'install' %}

{% block main %}
    <div class="border rounded-3 shadow bg-secondary-subtle d-flex flex-row justify-content-center main p-3 mb-3 ms-2 me-2">
        <div class="flex-column">
			<div class="d-flex flex-row justify-content-center pb-3">
				<h3 class="mb-3 font-weight-normal text-primary-emphasis">{% trans %}install.requirements.requirements{% endtrans %}</h3>
			</div>
            {% if error %}
                <div class="alert alert-danger d-flex flex-row justify-content-center">{{ error }}</div>
            {% endif %}
			<table class="table table-borderless align-middle" style="font-size: calc(1.275rem + 0.3vw)">
				<tr>
					<td class="text-primary-emphasis"><span class="m-2">{% trans %}install.requirements.php{% endtrans %} {{ php_version }}</span></td>
					{% if php %}
						<td class="text-danger"><i class="bi bi-exclamation-octagon m-1"></i></td>
					{% else %}
						<td class="text-success"><i class="bi bi-check-circle m-1"></i></td>
					{% endif %}
					<td></td>
				</tr>
				{% foreach extensions as key => Valuekey %}
					{% foreach Valuekey as Value %}
						<tr>
							<td class="text-primary-emphasis"><span class="m-2">{{ Value }}</span></td>
							{% if Value in loaded_extensions %}
								<td class="text-success"><i class="bi bi-check-circle m-1"></i></td>
							{% else %}
								{% if key == 'required' %}
									<td class="text-danger"><i class="bi bi-exclamation-octagon m-1"></i></td>
								{% else %}
									<td class="text-warning"><i class="bi bi-x-octagon m-1"></i></td>
								{% endif %}
							{% endif %}
							{% if key == 'required' %}
								<td class="text-info"><span class="m-2">{% trans %}install.requirements.required{% endtrans %}</span></td>
							{% else %}
								<td class="text-info"><span class="m-2">{% trans %}install.requirements.optional{% endtrans %}</span></td>
							{% endif %}
						</tr>
					{% endforeach %}	
				{% endforeach %}
                <tr>
                    {% if not error %}
                        <td>
                            <div class="d-flex flex-row justify-content-center pt-2">
					            <form action="{{ path('app_install') }}" method="post">
						            <button type="submit" class="btn btn-primary">{% trans %}install.button.continue{% endtrans %}</button>
					            </form>
				            </div>
                        </td>
                        <td></td>
                        <td> 
                            <div class="d-flex flex-row justify-content-center pt-2">
					            <form action="{{ path('requirements_install') }}" method="post">
						            <button type="submit" class="btn btn-primary">{% trans %}install.button.update{% endtrans %}</button>
					            </form>
				            </div>
                        </td>
			        {% else %}
                        <td colspan="2">
                            <div class="d-flex flex-row justify-content-center pb-3">
					            <h4 class="text-danger">{% trans %}install.requirements.error{% endtrans %}</h4>
				            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-row justify-content-center pt-2">
					            <form action="{{ path('requirements_install') }}" method="post">
						            <button type="submit" class="btn btn-primary">{% trans %}install.button.update{% endtrans %}</button>
					            </form>
				            </div>
                        </td>
			        {% endif %}
                </tr>
			</table>
		</div>
    </div>
{% endblock %}
