{##################################################################################
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE.md
 ##################################################################################}
{% extends 'add.html.twig' %}
{% trans_default_domain 'reset_password' %}

{% block title %}
    {{ parent() }}
    Password Reset Email Sent
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block main %}
<div class="d-flex flex-row justify-content-center">
		<div class="border rounded-3 shadow bg-secondary-subtle d-flex flex-row justify-content-center main p-3 mb-3">
            <div>
                <p>
                    {% trans %}check.account{% endtrans %}
                    {% trans %}check.link{% endtrans %} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p>{% trans %}check.receive{% endtrans %} <a href="{{ path('app_forgot_password_request') }}">{% trans %}check.again{% endtrans %}</a>.</p>
            </div>
        </div>
    </div>    
{% endblock %}
