{##################################################################################
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2026 Kataev Yaroslav Georgievich
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE.md
 ##################################################################################}
{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Install
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <stile>
        {{ source('@Install/css/install.css') }}
        {{ source('@Install/css/rotate.css') }}
    </stile>
{% endblock %}

{% block body %}
    {{ include('button.svg.twig') }}
    <header class="container-fluid d-flex flex-column p-0">
        <div class="container-fluid d-flex justify-content-center rotate py-1">
            {{ ux_icon('kyg', {class: 'rotate_kyg'}) }}
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <h1 class="text-primary-emphasis" lang="en">
                <strong>KYG Framework for business</strong>
            </h1>
        </div>
    </header>
    <main class="container-fluid d-flex flex-column p-0">
        <div class="border rounded-3 shadow bg-secondary-subtle d-flex flex-row justify-content-center main p-3 mb-3 ms-2 me-2">
            {% block main %}{% endblock %}
        </div>
    </main>
    <footer class="container-fluid d-flex flex-row justify-content-between bg-body-tertiary p-0">
        <div class="d-flex flex-row ms-2">
            <div class="m-1">
                {{ ux_icon('symfony', {class: 'symfony'}) }}
            </div>
            <div class="m-1">
                {{ ux_icon('kyg', {class: 'kyg'}) }}
            </div>
            <div class="d-flex flex-column justify-content-center">
                <h6 class="text-nowrap m-0">
                    <strong>{{ shivas_app_version }}</strong>
                </h6>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center pe-3">
            <h6 class="text-nowrap m-0" lang="en" dir="ltr">
                <strong>&copy; 2026 Kataev Yaroslav</strong>
            </h6>
        </div>
    </footer>
    <div class="dropdown position-fixed top-0 end-0 mb-3 me-3 bd-mode-toggle">
        {{ include('button.html.twig') }}
    </div>
{% endblock %}