{# #################################################################################
#  @Project    KYG Framework for business
#  @Version    1.0.0
#
#  @Copyright  (C) Kataev Yaroslav
#  @E-mail     yaroslaw74@gmail.com
#  @License    GNU General Public License version 3 or later, see LICENSE
################################################################################# #}
{% extends '@Users/empty.html.twig' %}
{% trans_default_domain 'users' %}

{% block title %}
    {{ parent() }}
    Log in!
{% endblock %}

{% set pngs_img = '5.png' %}

{% block content %}
    <!-- Demo content-->
    <div class="container p-0">
        <div class="row">
            <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                <div class="card-sigin">
                    <div class="mb-5 d-flex">
                        <a href="{{ path('kyg_home') }}" class="header-logo">
                            <img src="{{ asset('images/brand-logos/kyg-desktop-logo.png') }}" class="desktop-logo ht-40" alt="logo">
                            <img src="{{ asset('images/brand-logos/kyg-desktop-white.png') }}" class="desktop-white ht-40" alt="logo">
                        </a>
                    </div>
                    <div class="card-sigin">
                        <div class="main-signup-header">
                            <h3>{% trans %}Welcome back!{% endtrans %}</h3>
                            <h6 class="fw-medium mb-4 fs-17">{% trans %}Please sign in to continue.{% endtrans %}</h6>
                            <form action="{{ path('kyg_login') }}" method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                {% if app.user %}
                                    <div class="mb-3">{% trans %}You are logged in as{% endtrans %} {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">{% trans %}Logout{% endtrans %}</a></div>
                                {% endif %}
                                <div class="form-group mb-3">
                                    <label class="form-label" for="username">{% trans %}Username{% endtrans %}</label>
                                    <input class="form-control" placeholder="{% trans %}Enter your username{% endtrans %}" type="text" value="{{ last_username }}" name="_username" id="username">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="password">{% trans %}Password{% endtrans %}</label>
                                    <div class="toggle-password-container">
                                        <input class="form-control" placeholder="{% trans %}Enter your password{% endtrans %}" type="password" name="_password" id="password" autocomplete="current-password" required {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', {visibleLabel: 'Show password'|trans({}, 'messages'), hiddenLabel: 'Hide password'|trans({}, 'messages'), buttonClasses: ['toggle-password-button']}) }}>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                                </div>
                                <div class="checkbox mb-3">
                                    <input type="checkbox" name="_remember_me" id="_remember_me">
                                    <label for="_remember_me">{% trans %}Remember me{% endtrans %}</label>
                                </div>
                                <div class="row">
                                    <button class="btn btn-lg btn-primary btn-block w-100" type="submit">{% trans %}Sign In{% endtrans %}</button>
                                </div>
                                <div class="mt-3 auth-container">
                                    {% if app_facebook %}
                                        <div class="auth-container-element">
                                            <a href="{{ path('hwi_oauth_service_redirect', {service: 'facebook'}) }}" class="btn btn-block w-100 btn-facebook"><i class="fa-brands fa-facebook-f"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if app_google %}
                                        <div class="auth-container-element">
                                            <a href="{{ path('hwi_oauth_service_redirect', {service: 'google'}) }}" class="btn btn-block btn-google"><i class="fa-brands fa-google"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if app_github %}
                                        <div class="auth-container-element">
                                            <a href="{{ path('hwi_oauth_service_redirect', {service: 'github'}) }}" class="btn btn-block btn-github"><i class="fa-brands fa-github"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if app_vkontakte %}
                                        <div class="auth-container-element">
                                            <a href="{{ path('hwi_oauth_service_redirect', {service: 'vkontakte'}) }}" class="btn btn-block w-100 btn-vk"><i class="fa-brands fa-vk fa-xl"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if app_odnoklassniki %}
                                        <div class="auth-container-element">
                                            <a href="{{ path('hwi_oauth_service_redirect', {service: 'odnoklassniki'}) }}" class="btn btn-block w-100 btn-odnoklassniki"><i class="fa-brands fa-odnoklassniki"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if app_yandex %}
                                        <div class="auth-container-element">
                                            <a href="{{ path('hwi_oauth_service_redirect', {service: 'yandex'}) }}" class="btn btn-block w-100 btn-yandex"><i class="fa-brands fa-yandex"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if app_linkedin %}
                                        <div class="auth-container-element">
                                            <a href="{{ path('hwi_oauth_service_redirect', {service: 'linkedin'}) }}" class="btn btn-block w-100 btn-linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if app_x_twitter %}
                                        <div class="auth-container-element">
                                            <a href="{{ path('hwi_oauth_service_redirect', {service: 'x-twitter'}) }}" class="btn btn-block w-100 btn-x-twitter"><i class="fa-brands fa-x-twitter"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if app_mailru %}
                                        <div class="auth-container-element">
                                            <a href="{{ path('hwi_oauth_service_redirect', {service: 'mailru'}) }}" class="btn btn-block w-100 btn-mail-ru"><i class="fa-solid fa-at"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </form>
                            <div class="main-signin-footer mt-5">
                                <p class="mb-1"><a href="forgot.html">{% trans %}Forgot password?{% endtrans %}</a></p>
                                <p>{% trans %}Don't have an account?{% endtrans %} <a href="{{ path('kyg_register') }}">{% trans %}Create an Account{% endtrans %}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->
{% endblock content %}
