{##################################################################################
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later; see LICENSE.md
 ##################################################################################}
{% extends '@Users/core.html.twig' %}
{% trans_default_domain 'registration' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {{ parent() }}
    Register
{% endblock %}

{% block content %}
    {{ form_start(registrationForm) }}
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger d-flex flex-row justify-content-center" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="d-flex flex-row justify-content-center">
            <h1 class="mb-3 font-weight-normal text-primary-emphasis">{% trans %}form.register{% endtrans %}</h1>
        </div>
        <div class="mb-3 d-flex flex-row justify-content-center">
            {{ form_errors(registrationForm) }}
        </div>
        {{ form_row(registrationForm.username, {label: 'form.username'|trans, 'attr': {'size': '50'}}) }}
        {{ form_row(registrationForm.plainPassword, {label: 'form.password'|trans, 'attr': {'size': '50'}}) }}
        {{ form_row(registrationForm.agreeTerms, {label: 'form.terms'|trans}) }}
        <button type="submit" class="btn btn-lg btn-primary">{% trans %}form.reg{% endtrans %}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
