{#
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) Kataev Yaroslav
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE
 #}
{% extends 'empty.html.twig' %}
{% trans_default_domain 'users' %}
{% form_theme SetAvatarUserForm 'bootstrap_5_layout.html.twig' %}
{% form_theme ProfileForm 'bootstrap_5_layout.html.twig' %}

{% block page_header %}
    {{ include('partials/page-header.html.twig', {title: 'Edit Profile'|trans, subtitle: 'Users'|trans}) }}
{% endblock %}

{% if user %}
    {% set pageUser = user %}
{% else %}
    {% set pageUser = app.user %}
{% endif %}

{% block body_content %}
    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="ps-0">
                        <div class="main-profile-overview">
                            <div class="main-img-user profile-user">
                                {% if pageUser %}
                                    {% if pageUser.gravatar %}
                                        {% if gravatar_exists(pageUser.gravatar) %}
                                            <img src="{{ gravatar(pageUser.gravatar) }}" alt="avatar">
                                        {% else %}
                                            {% if pageUser.avatar %}
                                                <img src="{{ asset('uploads/avatar/' ~ pageUser.avatar) }}" alt="avatar">
                                            {% else %}
                                                <img src="{{ asset('images/avatar/pngwing.com.png') }}" alt="avatar">
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if pageUser.avatar %}
                                            <img src="{{ asset('uploads/avatar/' ~ pageUser.avatar) }}" alt="avatar">
                                        {% else %}
                                            <img src="{{ asset('images/avatar/pngwing.com.png') }}" alt="avatar">
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <img src="{{ asset('images/avatar/pngwing.com.png') }}" alt="avatar">
                                {% endif %}
                                <a class="fe fe-camera profile-edit text-primary" href="JavaScript:void(0);" data-bs-toggle="modal" data-bs-target="#profileEditModal"></a>
                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <div>
                                    <h5 class="main-profile-name">
                                        {% if pageUser %}
                                            {% if settings_instance('name').getFirstLastName %}
                                                {% if settings_instance('name').getMiddleNameEnable %}
                                                    {{ pageUser.lastName }} {{ pageUser.firstName }} {{ pageUser.middleName }}
                                                {% else %}
                                                    {{ pageUser.lastName }} {{ pageUser.firstName }}
                                                {% endif %}
                                            {% else %}
                                                {% if settings_instance('name').getMiddleNameEnable %}
                                                    {{ pageUser.firstName }} {{ pageUser.middleName }} {{ pageUser.lastName }}
                                                {% else %}
                                                    {{ pageUser.firstName }} {{ pageUser.lastName }}
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% trans %}User{% endtrans %}
                                        {% endif %}
                                    </h5>
                                    <p class="main-profile-name-text">Web Designer</p>
                                </div>
                            </div>
                            <h6 class="fs-14">Bio</h6>
                            <div class="main-profile-bio">
                                pleasure rationally encounter but because pursue consequences that are
                                extremely painful.occur in which toil and pain can procure him some great
                                pleasure.. <a href="javascript:void(0);">More</a>
                            </div>
                            <!-- main-profile-bio -->
                            <div class="row">
                                <div class="col-md-4 col mb20">
                                    <h5 class="fs-17">947</h5>
                                    <h6 class="text-small text-muted fs-14 mb-0">Followers</h6>
                                </div>
                                <div class="col-md-4 col mb20">
                                    <h5 class="fs-17">583</h5>
                                    <h6 class="text-small text-muted fs-14 mb-0">Tweets</h6>
                                </div>
                                <div class="col-md-4 col mb20">
                                    <h5 class="fs-17">48</h5>
                                    <h6 class="text-small text-muted fs-14 mb-0">Posts</h6>
                                </div>
                            </div>
                            <hr class="border-0">
                            {% if settings_instance('hwi').hwiOauth and pageUser == app.user %}
                                <label class="main-content-label fs-13 mb-4">{% trans %}Social{% endtrans %}</label>
                                <div class="main-profile-social-list">
                                    {% if settings_instance('hwi').facebook %}
                                        <div class="media">
                                            <div class="btn btn-block btn-facebook">
                                                <i class="fa-brands fa-facebook-f fa-xl"></i>
                                            </div>
                                            <div class="media-body">
                                                <span>Facebook</span>
                                                {% if attribute(pageUser, facebook) is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: facebook}) }}" class="text-primary">{{ facebook|trans({}, 'HWIOAuthBundle') }}</a>
                                                {% else %}
                                                    <span>{{ facebook|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').google %}
                                        <div class="media">
                                            <div class="btn btn-block btn-google">
                                                <i class="fa-brands fa-google fa-xl"></i>
                                            </div>
                                            <div class="media-body">
                                                <span>Google</span>
                                                {% if attribute(pageUser, google) is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: google}) }}" class="text-primary">{{ google|trans({}, 'HWIOAuthBundle') }}</a>
                                                {% else %}
                                                    <span>{{ google|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').github %}
                                        <div class="media">
                                            <div class="btn btn-block btn-github">
                                                <i class="fa-brands fa-github fa-xl"></i>
                                            </div>
                                            <div class="media-body">
                                                <span>Github</span>
                                                {% if attribute(pageUser, github) is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: github}) }}" class="text-primary">{{ github|trans({}, 'HWIOAuthBundle') }}</a>
                                                {% else %}
                                                    <span>{{ github|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').vkontakte %}
                                        <div class="media">
                                            <div class="btn btn-block btn-vk">
                                                <i class="fa-brands fa-vk fa-xl"></i>
                                            </div>
                                            <div class="media-body">
                                                <span>VK</span>
                                                {% if attribute(pageUser, vkontakte) is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: vkontakte}) }}" class="text-primary">{{ vkontakte|trans({}, 'HWIOAuthBundle') }}</a>
                                                {% else %}
                                                    <span>{{ vkontakte|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').odnoklassniki %}
                                        <div class="media">
                                            <div class="btn btn-block btn-odnoklassniki">
                                                <i class="fa-brands fa-odnoklassniki fa-xl"></i>
                                            </div>
                                            <div class="media-body">
                                                <span>OK</span>
                                                {% if attribute(pageUser, odnoklassniki) is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: odnoklassniki}) }}" class="text-primary">{{ odnoklassniki|trans({}, 'HWIOAuthBundle') }}</a>
                                                {% else %}
                                                    <span>{{ odnoklassniki|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').yandex %}
                                        <div class="media">
                                            <div class="btn btn-block btn-yandex">
                                                <i class="fa-brands fa-yandex fa-xl"></i>
                                            </div>
                                            <div class="media-body">
                                                <span>Yandex</span>
                                                {% if attribute(pageUser, yandex) is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: yandex}) }}" class="text-primary">{{ yandex|trans({}, 'HWIOAuthBundle') }}</a>
                                                {% else %}
                                                    <span>{{ yandex|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').linkedin %}
                                        <div class="media">
                                            <div class="btn btn-block btn-linkedin">
                                                <i class="fa-brands fa-linkedin-in fa-xl"></i>
                                            </div>
                                            <div class="media-body">
                                                <span>LinkedIn</span>
                                                {% if attribute(pageUser, linkedin) is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: linkedin}) }}" class="text-primary">{{ linkedin|trans({}, 'HWIOAuthBundle') }}</a>
                                                {% else %}
                                                    <span>{{ linkedin|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').xTwitter %}
                                        <div class="media">
                                            <div class="btn btn-block btn-x-twitter">
                                                <i class="fa-brands fa-x-twitter fa-xl"></i>
                                            </div>
                                            <div class="media-body">
                                                <span>X</span>
                                                {% if attribute(pageUser, xTwitter) is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: xTwitter}) }}" class="text-primary">{{ xTwitter|trans({}, 'HWIOAuthBundle') }}</a>
                                                {% else %}
                                                    <span>{{ xTwitter|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').mailru %}
                                        <div class="media">
                                            <div class="btn btn-block btn-mail-ru">
                                                <i class="fa-solid fa-at fa-xl"></i>
                                            </div>
                                            <div class="media-body">
                                                <span>mail.ru</span>
                                                {% if attribute(pageUser, mailru) is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: mailru}) }}" class="text-primary">{{ mailru|trans({}, 'HWIOAuthBundle') }}</a>
                                                {% else %}
                                                    <span>{{ mailru|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <hr class="border-0">
                            <h6 class="fs-14">Skills</h6>
                            <div class="skill-bar mb-4 clearfix mt-3">
                                <span>HTML5 / CSS3</span>
                                <div class="progress progress-sm mt-2">
                                    <div class="progress-bar bg-primary-gradient" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                                </div>
                            </div>
                            <!--skill bar-->
                            <div class="skill-bar mb-4 clearfix">
                                <span>Javascript</span>
                                <div class="progress progress-sm mt-2">
                                    <div class="progress-bar bg-danger-gradient" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 89%"></div>
                                </div>
                            </div>
                            <!--skill bar-->
                            <div class="skill-bar mb-4 clearfix">
                                <span>Bootstrap</span>
                                <div class="progress progress-sm mt-2">
                                    <div class="progress-bar bg-success-gradient" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                                </div>
                            </div>
                            <!--skill bar-->
                            <div class="skill-bar clearfix">
                                <span>Coffee</span>
                                <div class="progress progress-sm mt-2">
                                <div class="progress-bar bg-info-gradient" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                            </div>
                        </div>
                        <!--skill bar-->
                    </div>
                    <!-- main-profile-overview -->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="main-content-label tx-13 mg-b-25">{% trans %}Contacts{% endtrans %}</div>
                    <div class="main-profile-contact-list">
                        <div class="media">
                            <div class="media-icon bg-primary-transparent text-primary">
                                <i class="icon ion-md-phone-portrait"></i>
                            </div>
                            <div class="media-body">
                                <span>{% trans %}Mobile{% endtrans %}</span>
                                {% if pageUser and pageUser.mobile %}
                                    <div>{{ pageUser.mobile }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-icon bg-success-transparent text-success">
                                <i class="icon ion-ios-mail"></i>
                            </div>
                            <div class="media-body">
                                <span>{% trans %}Email{% endtrans %}</span>
                                {% if pageUser and pageUser.email %}
                                    <div>{{ pageUser.email }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-icon bg-info-transparent text-info">
                                <i class="icon ion-md-locate"></i>
                            </div>
                            <div class="media-body">
                                <span>Current Address</span>
                                <div>San Francisco, CA</div>
                            </div>
                        </div>
                    </div>
                    <!-- main-profile-contact-list -->
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <div class="mb-4 main-content-label">{% trans %}Personal Information{% endtrans %}</div>
                    {{ form_start(ProfileForm) }}
                        <div class="mb-4 main-content-label">{% trans %}Name{% endtrans %}</div>
                        {% if settings_instance('name').getFirstLastName %}
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ form_label(ProfileForm.lastName) }}
                                    </div>
                                    <div class="col-md-9">
                                        {% if pageUser and pageUser.lastName %}
                                            {{ form_widget(ProfileForm.lastName, {attr: {value: pageUser.lastName}}) }}
                                        {% else %}
                                            {{ form_widget(ProfileForm.lastName) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ form_label(ProfileForm.firstName) }}
                                    </div>
                                    <div class="col-md-9">
                                        {% if pageUser and pageUser.firstName %}
                                            {{ form_widget(ProfileForm.firstName, {attr: {value: pageUser.firstName}}) }}
                                        {% else %}
                                            {{ form_widget(ProfileForm.firstName) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if settings_instance('name').getMiddleNameEnable %}
                                <div class="form-group mb-3">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(ProfileForm.middleName) }}
                                        </div>
                                        <div class="col-md-9">
                                            {% if pageUser and pageUser.middleName %}
                                                {{ form_widget(ProfileForm.middleName, {attr: {value: pageUser.middleName}}) }}
                                            {% else %}
                                                {{ form_widget(ProfileForm.middleName) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ form_label(ProfileForm.firstName) }}
                                    </div>
                                    <div class="col-md-9">
                                        {% if pageUser and pageUser.firstName %}
                                            {{ form_widget(ProfileForm.firstName, {attr: {value: pageUser.firstName}}) }}
                                        {% else %}
                                            {{ form_widget(ProfileForm.firstName) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if settings_instance('name').getMiddleNameEnable %}
                                <div class="form-group mb-3">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(ProfileForm.middleName) }}
                                        </div>
                                        <div class="col-md-9">
                                            {% if pageUser and pageUser.middleName %}
                                                {{ form_widget(ProfileForm.middleName, {attr: {value: pageUser.middleName}}) }}
                                            {% else %}
                                                {{ form_widget(ProfileForm.middleName) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ form_label(ProfileForm.lastName) }}
                                    </div>
                                    <div class="col-md-9">
                                        {% if pageUser and pageUser.lastName %}
                                            {{ form_widget(ProfileForm.lastName, {attr: {value: pageUser.lastName}}) }}
                                        {% else %}
                                            {{ form_widget(ProfileForm.lastName) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ form_label(ProfileForm.username) }}
                                </div>
                                <div class="col-md-9">
                                    {% if pageUser and pageUser.username %}
                                        {{ form_widget(ProfileForm.username, {attr: {value: pageUser.username}}) }}
                                    {% else %}
                                        {{ form_widget(ProfileForm.username) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 main-content-label">{% trans %}Contact Info{% endtrans %}</div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ form_label(ProfileForm.email) }}
                                </div>
                                <div class="col-md-9">
                                    {% if pageUser and pageUser.email %}
                                        {{ form_widget(ProfileForm.email, {attr: {value: pageUser.email}}) }}
                                    {% else %}
                                        {{ form_widget(ProfileForm.email) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Website</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"  placeholder="Website" value="@spruko.w">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ form_label(ProfileForm.mobile) }}
                                </div>
                                <div class="col-md-9">
                                    {% if pageUser and pageUser.mobile %}
                                        {{ form_widget(ProfileForm.mobile, {attr: {value: pageUser.mobile}}) }}
                                    {% else %}
                                        {{ form_widget(ProfileForm.mobile) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Address</label>
                                </div>
                                <div class="col-md-9">
                                    <textarea class="form-control" name="example-textarea-input" rows="2"  placeholder="Address">San Francisco, CA</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 main-content-label">Social Info</div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Twitter</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"  placeholder="twitter" value="twitter.com/spruko.me">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Facebook</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"  placeholder="facebook" value="https://www.facebook.com/Redash">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Google+</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"  placeholder="google" value="spruko.com">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Linked in</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"  placeholder="linkedin" value="linkedin.com/in/spruko">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Github</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="github" value="github.com/sprukos">
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 main-content-label">About Yourself</div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Biographical Info</label>
                                </div>
                                <div class="col-md-9">
                                    <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="">pleasure rationally encounter but because pursue consequences that are extremely painful.occur in which toil and pain can procure him some great pleasure..</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 main-content-label">Email Preferences</div>
                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Verified User</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="custom-controls-stacked">
                                        <label class="me-1"><input checked="" type="checkbox" class="form-check-input mb-2 me-1"><span> Accept to receive post or page notification emails</span></label>
                                        <label class=""><input checked="" type="checkbox" class="form-check-input mb-2 me-1"><span> Accept to receive email sent to multiple recipients</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary waves-effect waves-light">{% trans %}Update Profile{% endtrans %}</button>
                </div>
                {{ form_end(ProfileForm) }}
            </div>
        </div>
    </div>
    <!--End::row-1 -->

    <!-- Modal start -->
    <div class="modal modal-xl fade" id="profileEditModal" tabindex="-1" role="dialog" aria-labelledby="profileEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <h6 class="modal-title" id="profileEditModalLabel">{% trans %}Edit Avatar{% endtrans %}</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="main-signup-header mt-3">
                                {{ form_start(SetAvatarUserForm) }}
                                    {{ form_row(SetAvatarUserForm.avatar) }}
                                    <button type="submit" class="btn btn-primary btn-block w-100 mt-3 mb-3">{% trans %}Set Avatar{% endtrans %}</button>
                                {{ form_end(SetAvatarUserForm) }}
                            </div>
                        </div>
                    </div>
                    <!-- card -->
                </div>
                <!-- modal-body -->
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- Modal end -->
{% endblock body_content %}
