{#
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) Kataev Yaroslav
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE
 #}
{% extends 'empty.html.twig' %}
{% trans_default_domain 'users' %}

{#
<!-- GLightbox CSS -->
<link rel="stylesheet" href="../assets/libs/glightbox/css/glightbox.min.css">
#}

{% block page_header %}
    {{ include('partials/page-header.html.twig', {title: 'Profile'|trans, subtitle: 'Users'|trans}) }}
{% endblock %}

{% block body_content %}
    <!-- Start::row-1 -->
    <div class="row row-sm">
        <div class="col-xl-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="ps-0">
                        <div class="main-profile-overview">
                            <div class="main-img-user profile-user user-profile">
                                <img alt="" src="{{ asset('images/avatar/pngwing.com.png') }}">
                                <a class="fe fe-camera profile-edit text-primary" href="JavaScript:void(0);"></a>
                            </div>
                            <div class="d-flex justify-content-between mb-4">
                                <div>
                                    <h5 class="main-profile-name">Petey Cruiser</h5>
                                    <p class="main-profile-name-text text-muted">Web Designer</p>
                                </div>
                            </div>
                            <h6 class="fs-14">Bio</h6>
                            <div class="main-profile-bio">
                                pleasure rationally encounter but because pursue consequences that are
                                extremely painful.occur in which toil and pain can procure him some great
                                pleasure.. <a href="javascript:void(0);" class="text-primary">More</a>
                            </div><!-- main-profile-bio -->
                            <div class="row">
                                <div class="col-md-4 col mb20">
                                    <h5 class="fs-17">947</h5>
                                    <h6 class="text-small text-muted fs-14 mb-0">Followers</h6>
                                </div>
                                <div class="col-md-4 col mb20">
                                    <h5 class="fs-17">583</h5>
                                    <h6 class="text-small text-muted fs-14 mb-0">Tweets</h6>
                                </div>
                                <div class="col-md-4 col mb20">
                                    <h5 class="fs-17">48</h5>
                                    <h6 class="text-small text-muted fs-14 mb-0">Posts</h6>
                                </div>
                            </div>
                            {% if settings_instance('hwi').hwiOauth %}
                                <hr class="border-0">
                                <label class="main-content-label fs-13 mb-4">{% trans %}Social{% endtrans %}</label>
                                <div class="main-profile-social-list">
                                    {% if settings_instance('hwi').hwiOauth %}
                                        <div class="media">
                                            <div class="media-icon bg-primary-transparent text-primary">
                                                <div class="btn btn-block btn-facebook"><i class="fa-brands fa-facebook-f fa-xl"></i></div>
                                            </div>
                                            <div class="media-body">
                                                <span>Facebook</span>
                                                {% if attribute(app.user, 'facebook') is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: 'facebook'}) }}" class="text-primary">{{ 'facebook'|trans({}, 'HWIOAuthBundle') }}</a><br>
                                                {% else %}
                                                    <span class="text-primary">{{ 'facebook'|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span><br>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').google %}
                                        <div class="media">
                                            <div class="media-icon bg-primary-transparent text-primary">
                                                <div class="btn btn-block btn-google"><i class="fa-brands fa-google fa-xl"></i></div>
                                            </div>
                                            <div class="media-body">
                                                <span>Google</span>
                                                {% if attribute(app.user, 'google') is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: 'google'}) }}" class="text-primary">{{ 'google'|trans({}, 'HWIOAuthBundle') }}</a><br>
                                                {% else %}
                                                    <span class="text-primary">{{ 'google'|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span><br>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').github %}
                                        <div class="media">
                                            <div class="media-icon bg-primary-transparent text-primary">
                                                <div class="btn btn-block btn-github"><i class="fa-brands fa-github fa-xl"></i></div>
                                            </div>
                                            <div class="media-body">
                                                <span>Github</span>
                                                {% if attribute(app.user, 'github') is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: 'github'}) }}" class="text-primary">{{ 'github'|trans({}, 'HWIOAuthBundle') }}</a><br>
                                                {% else %}
                                                    <span class="text-primary">{{ 'github'|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span><br>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').vkontakte %}
                                        <div class="media">
                                            <div class="media-icon bg-primary-transparent text-primary">
                                                <div class="btn btn-block btn-vk"><i class="fa-brands fa-vk fa-xl"></i></div>
                                            </div>
                                            <div class="media-body">
                                                <span>VK</span>
                                                {% if attribute(app.user, 'vkontakte') is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: 'vkontakte'}) }}" class="text-primary">{{ 'vkontakte'|trans({}, 'HWIOAuthBundle') }}</a><br>
                                                {% else %}
                                                    <span class="text-primary">{{ 'vkontakte'|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span><br>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').odnoklassniki %}
                                        <div class="media">
                                            <div class="media-icon bg-primary-transparent text-primary">
                                                <div class="btn btn-block btn-odnoklassniki"><i class="fa-brands fa-odnoklassniki fa-xl"></i></div>
                                            </div>
                                            <div class="media-body">
                                                <span>OK</span>
                                                {% if attribute(app.user, 'odnoklassniki') is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: 'odnoklassniki'}) }}" class="text-primary">{{ 'odnoklassniki'|trans({}, 'HWIOAuthBundle') }}</a><br>
                                                {% else %}
                                                    <span class="text-primary">{{ 'odnoklassniki'|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span> <br />
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').yandex %}
                                        <div class="media">
                                            <div class="media-icon bg-primary-transparent text-primary">
                                                <div class="btn btn-block btn-yandex"><i class="fa-brands fa-yandex fa-xl"></i></div>
                                            </div>
                                            <div class="media-body">
                                                <span>Yandex</span>
                                                {% if attribute(app.user, 'yandex') is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: 'yandex'}) }}" class="text-primary">{{ 'yandex'|trans({}, 'HWIOAuthBundle') }}</a><br>
                                                {% else %}
                                                    <span class="text-primary">{{ 'yandex'|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span><br>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').linkedin %}
                                        <div class="media">
                                            <div class="media-icon bg-primary-transparent text-primary">
                                                <div class="btn btn-block btn-linkedin"><i class="fa-brands fa-linkedin-in fa-xl"></i></div>
                                            </div>
                                            <div class="media-body">
                                                <span>Linkedin</span>
                                                {% if attribute(app.user, 'linkedin') is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: 'linkedin'}) }}" class="text-primary">{{ 'linkedin'|trans({}, 'HWIOAuthBundle') }}</a><br>
                                                {% else %}
                                                    <span class="text-primary">{{ 'linkedin'|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span> <br />
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').xTwitter %}
                                        <div class="media">
                                            <div class="media-icon bg-primary-transparent text-primary">
                                                <div class="btn btn-block btn-x-twitter"><i class="fa-brands fa-x-twitter fa-xl"></i></div>
                                            </div>
                                            <div class="media-body">
                                                <span>X</span>
                                                {% if attribute(app.user, 'xTwitter') is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: 'xTwitter'}) }}" class="text-primary">{{ 'xTwitter'|trans({}, 'HWIOAuthBundle') }}</a><br>
                                                {% else %}
                                                    <span class="text-primary">{{ 'xTwitter'|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span><br>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if settings_instance('hwi').mailru %}
                                        <div class="media">
                                            <div class="media-icon bg-primary-transparent text-primary">
                                                <div class="btn btn-block btn-mail-ru"><i class="fa-solid fa-at fa-xl"></i></div>
                                            </div>
                                            <div class="media-body">
                                                <span>Mail.ru</span>
                                                {% if attribute(app.user, 'mailru') is empty %}
                                                    <a href="{{ path('hwi_oauth_connect_service', {service: 'mailru'}) }}" class="text-primary">{{ 'mailru'|trans({}, 'HWIOAuthBundle') }}</a><br>
                                                {% else %}
                                                    <span class="text-primary">{{ 'mailru'|trans({}, 'HWIOAuthBundle') }} {% trans %}connected{% endtrans %}</span><br>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <hr class="border-0">
                            <h6 class="fs-14">Skills</h6>
                            <div class="skill-bar mb-4 clearfix mt-3">
                                <span>HTML5 / CSS3</span>
                                <div class="progress mt-2">
                                    <div class="progress-bar bg-primary-gradient" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                                </div>
                            </div>
                            <!--skill bar-->
                            <div class="skill-bar mb-4 clearfix">
                                <span>Javascript</span>
                                <div class="progress mt-2">
                                    <div class="progress-bar bg-danger-gradient" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 89%"></div>
                                </div>
                            </div>
                            <!--skill bar-->
                            <div class="skill-bar mb-4 clearfix">
                                <span>Bootstrap</span>
                                <div class="progress mt-2">
                                    <div class="progress-bar bg-success-gradient" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                                </div>
                            </div>
                            <!--skill bar-->
                            <div class="skill-bar clearfix">
                                <span>Coffee</span>
                                <div class="progress mt-2">
                                    <div class="progress-bar bg-info-gradient" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                                </div>
                            </div>
                            <!--skill bar-->
                        </div>
                        <!-- main-profile-overview -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="row row-sm">
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <div class="card ">
                        <div class="card-body">
                            <div class="counter-status d-flex md-mb-0">
                                <div class="counter-icon bg-primary-transparent">
                                    <i class="icon-layers text-primary"></i>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="fs-13">Orders</h5>
                                    <h2 class="mb-0 fs-22 mb-1 mt-1">1,587</h2>
                                    <p class="text-muted mb-0 fs-11"><i class="si si-arrow-up-circle text-success me-1"></i>increase</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <div class="card ">
                        <div class="card-body">
                            <div class="counter-status d-flex md-mb-0">
                                <div class="counter-icon bg-danger-transparent">
                                    <i class="icon-paypal text-danger"></i>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="fs-13">Revenue</h5>
                                    <h2 class="mb-0 fs-22 mb-1 mt-1">46,782</h2>
                                    <p class="text-muted mb-0 fs-11"><i class="si si-arrow-up-circle text-success me-1"></i>increase</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <div class="card ">
                        <div class="card-body">
                            <div class="counter-status d-flex md-mb-0">
                                <div class="counter-icon bg-success-transparent">
                                    <i class="icon-rocket text-success"></i>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="fs-13">Product sold</h5>
                                    <h2 class="mb-0 fs-22 mb-1 mt-1">1,890</h2>
                                    <p class="text-muted mb-0 fs-11"><i class="si si-arrow-up-circle text-success me-1"></i>increase</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="tabs-menu ">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs profile navtab-custom panel-tabs">
                            <li class="">
                                <a href="#home" data-bs-toggle="tab" class="active" aria-expanded="true">
                                    <span class="visible-xs"><i class="las la-user-circle fs-16 me-1"></i></span>
                                    <span class="hidden-xs">ABOUT ME</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#gallery" data-bs-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="las la-images fs-15 me-1"></i></span>
                                    <span class="hidden-xs">GALLERY</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#friends01" data-bs-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="las la-life-ring fs-16 me-1"></i></span>
                                    <span class="hidden-xs">FRIENDS</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#settings" data-bs-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="las la-cog fs-16 me-1"></i></span>
                                    <span class="hidden-xs">SETTINGS</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content border border-top-0 p-4 br-dark">
                        <div class="tab-pane border-0 p-0 active" id="home">
                            <h4 class="fs-15 text-uppercase mb-3">BIO Data</h4>
                            <p>Hi I'm Petey Cruiser,has been the industry's standard dummy
                               text ever since the 1500s, when an unknown printer took a galley of type.
                               Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
                               justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis
                               eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum
                               semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                               eu, consequat vitae, eleifend ac, enim.</p>
                        <div>
                            <h4 class="fs-15 text-uppercase mt-3">Experience</h4>
                                <div class=" p-t-10">
                                    <h5 class="text-primary fs-14">Lead designer / Developer</h5>
                                    <p class="">websitename.com</p>
                                    <p><b>2010-2015</b></p>
                                    <p class="text-muted fs-13">Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s, when an unknown
                                        printer took a galley of type and scrambled it to make a type
                                        specimen book.</p>
                                </div>
                                <div class="">
                                    <h5 class="text-primary fs-14">Senior Graphic Designer</h5>
                                    <p class="">coderthemes.com</p>
                                    <p><b>2007-2009</b></p>
                                    <p class="text-muted fs-13 mb-0">Lorem Ipsum is simply dummy text of the
                                        printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s, when an unknown
                                        printer took a galley of type and scrambled it to make a type
                                        specimen book.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane border-0 p-0" id="gallery">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-71.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-71.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-70.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-70.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-69.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-69.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-68.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-68.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-67.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-67.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-66.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-66.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-65.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-65.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-36.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-36.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-66.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-66.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-65.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-65.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-36.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-36.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <div class="card overflow-hidden">
                                        <a href="../assets/images/media/media-35.jpg" class="glightbox card shadow-none" data-gallery="gallery1">
                                            <img src="../assets/images/media/media-35.jpg" alt="image" >
                                        </a>
                                        <h4 class="text-center fs-14 mt-3 mb-0">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane border-0 p-0" id="friends01" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                                    <div class="card custom-card border shadow-none">
                                        <div class="card-body  user-lock text-center">
                                            <div class="dropdown float-end">
                                                <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
                                                <div class="dropdown-menu shadow">
                                                    <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-message-square me-2"></i>Message</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                            <a href="profile.html">
                                                <img alt="avatar" class="rounded-circle" src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}">
                                                <h5 class="fs-16 mb-0 mt-3 text-dark fw-semibold">James Thomas</h5>
                                                <span class="text-muted">Web designer</span>
                                                <div class="mt-3 d-flex mx-auto text-center justify-content-center">
                                                    <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                        <i class="bx bxl-facebook fs-18 align-middle"></i>
                                                    </span>
                                                    <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                        <i class="bx bxl-twitter fs-18 align-middle"></i>
                                                    </span>
                                                    <span class="btn btn-icon btn-outline-primary rounded-circle border">
                                                        <i class="bx bxl-linkedin fs-18 align-middle"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                                    <div class="card custom-card border shadow-none">
                                        <div class="card-body  user-lock text-center">
                                            <div class="dropdown float-end">
                                                <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fe fe-more-vertical"></i></a>
                                                <div class="dropdown-menu shadow">
                                                    <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-message-square me-2"></i>Message</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                            <a href="profile.html">
                                                <img alt="avatar" class="rounded-circle" src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}">
                                                <h5 class="fs-16 mb-0 mt-3 text-dark fw-semibold">Reynante Labares</h5>
                                                <span class="text-muted">Web designer</span>
                                                <div class="mt-3 d-flex mx-auto text-center justify-content-center">
                                                    <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                        <i class="bx bxl-facebook fs-18 align-middle"></i>
                                                    </span>
                                                    <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                        <i class="bx bxl-twitter fs-18 align-middle"></i>
                                                    </span>
                                                    <span class="btn btn-icon btn-outline-primary rounded-circle border">
                                                        <i class="bx bxl-linkedin fs-18 align-middle"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                                    <div class="card custom-card border shadow-none">
                                        <div class="card-body  user-lock text-center">
                                            <div class="dropdown float-end">
                                                <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
                                                <div class="dropdown-menu shadow">
                                                    <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-message-square me-2"></i>Message</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                            <a href="profile.html">
                                                <img alt="avatar" class="rounded-circle" src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}">
                                                <h5 class="fs-16 mb-0 mt-3 text-dark fw-semibold">Owen Bongcaras</h5>
                                                <span class="text-muted">Web designer</span>
                                                <div class="mt-3 d-flex mx-auto text-center justify-content-center">
                                                    <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                        <i class="bx bxl-facebook fs-18 align-middle"></i>
                                                    </span>
                                                    <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                        <i class="bx bxl-twitter fs-18 align-middle"></i>
                                                    </span>
                                                    <span class="btn btn-icon btn-outline-primary rounded-circle border">
                                                        <i class="bx bxl-linkedin fs-18 align-middle"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                                    <div class="card custom-card border shadow-none">
                                        <div class="card-body  user-lock text-center">
                                            <div class="dropdown float-end">
                                                <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
                                                            <div class="dropdown-menu shadow"> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-message-square me-2"></i>
                                                                    Message</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                        <a href="profile.html">
                                                            <img alt="avatar" class="rounded-circle" src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}">
                                                            <h5 class="fs-16 mb-0 mt-3 text-dark fw-semibold">Stephen
                                                                Metcalfe</h5>
                                                            <span class="text-muted">Administrator</span>
                                                            <div class="mt-3 d-flex mx-auto text-center justify-content-center">
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-facebook fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-twitter fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border">
                                                                    <i class="bx bxl-linkedin fs-18 align-middle"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                                                <div class="card custom-card border shadow-none">
                                                    <div class="card-body  user-lock text-center">
                                                        <div class="dropdown float-end">
                                                            <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
                                                            <div class="dropdown-menu shadow"> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-message-square me-2"></i>
                                                                    Message</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                        <a href="profile.html">
                                                            <img alt="avatar" class="rounded-circle" src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}">
                                                            <h5 class="fs-16 mb-0 mt-3 text-dark fw-semibold">Socrates
                                                                Itumay</h5>
                                                            <span class="text-muted">Project Manager</span>
                                                            <div class="mt-3 d-flex mx-auto text-center justify-content-center">
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-facebook fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-twitter fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border">
                                                                    <i class="bx bxl-linkedin fs-18 align-middle"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                                                <div class="card custom-card border shadow-none">
                                                    <div class="card-body  user-lock text-center">
                                                        <div class="dropdown float-end">
                                                            <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
                                                            <div class="dropdown-menu shadow"> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-message-square me-2"></i>
                                                                    Message</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                        <a href="profile.html">
                                                            <img alt="avatar" class="rounded-circle" src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}">
                                                            <h5 class="fs-16 mb-0 mt-3 text-dark fw-semibold">Reynante
                                                                Labares</h5>
                                                            <span class="text-muted">Web Designer</span>
                                                            <div class="mt-3 d-flex mx-auto text-center justify-content-center">
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-facebook fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-twitter fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border">
                                                                    <i class="bx bxl-linkedin fs-18 align-middle"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                                                <div class="card custom-card border shadow-none mb-xxl-0">
                                                    <div class="card-body  user-lock text-center">
                                                        <div class="dropdown float-end">
                                                            <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
                                                            <div class="dropdown-menu shadow"> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-message-square me-2"></i>
                                                                    Message</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                        <a href="profile.html">
                                                            <img alt="avatar" class="rounded-circle" src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}">
                                                            <h5 class="fs-16 mb-0 mt-3 text-dark fw-semibold">Owen
                                                                Bongcaras</h5>
                                                            <span class="text-muted">App Developer</span>
                                                            <div class="mt-3 d-flex mx-auto text-center justify-content-center">
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-facebook fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-twitter fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border">
                                                                    <i class="bx bxl-linkedin fs-18 align-middle"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                                                <div class="card custom-card border shadow-none mb-xxl-0">
                                                    <div class="card-body  user-lock text-center">
                                                        <div class="dropdown float-end">
                                                            <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
                                                            <div class="dropdown-menu shadow"> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-message-square me-2"></i>
                                                                    Message</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                        <a href="profile.html">
                                                            <img alt="avatar" class="rounded-circle" src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}">
                                                            <h5 class="fs-16 mb-0 mt-3 text-dark fw-semibold">Stephen
                                                                Metcalfe</h5>
                                                            <span class="text-muted">Administrator</span>
                                                            <div class="mt-3 d-flex mx-auto text-center justify-content-center">
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-facebook fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-twitter fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border">
                                                                    <i class="bx bxl-linkedin fs-18 align-middle"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                                                <div class="card custom-card border shadow-none mb-0">
                                                    <div class="card-body  user-lock text-center">
                                                        <div class="dropdown float-end">
                                                            <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
                                                            <div class="dropdown-menu shadow"> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-message-square me-2"></i>
                                                                    Message</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                        <a href="profile.html">
                                                            <img alt="avatar" class="rounded-circle" src="{{ asset('bundles/KYG-Framework/avatar/pngwing.com.png') }}">
                                                            <h5 class="fs-16 mb-0 mt-3 text-dark fw-semibold">Michel
                                                                Mathew</h5>
                                                            <span class="text-muted">Ui Developer</span>
                                                            <div class="mt-3 d-flex mx-auto text-center justify-content-center">
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-facebook fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border me-3">
                                                                    <i class="bx bxl-twitter fs-18 align-middle"></i>
                                                                </span>
                                                                <span class="btn btn-icon btn-outline-primary rounded-circle border">
                                                                    <i class="bx bxl-linkedin fs-18 align-middle"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane border-0 p-0" id="settings">
                            <form>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="FullName">Full Name</label>
                                    <input type="text" value="John Doe" id="FullName" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="Email">Email</label>
                                    <input type="email" value="first.last@example.com" id="Email" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="Username">Username</label>
                                    <input type="text" value="john" id="Username" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="Password">Password</label>
                                    <input type="password" placeholder="6 - 15 Characters" id="Password" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="RePassword">Re-Password</label>
                                    <input type="password" placeholder="6 - 15 Characters" id="RePassword" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="AboutMe">About Me</label>
                                    <textarea id="AboutMe" class="form-control">Loren gypsum dolor sit mate, consecrate disciplining lit, tied diam nonunion nib modernism tincidunt it Loretta dolor manga Amalia erst volute. Ur wise denim ad minim venial, quid nostrum exercise ration perambulator suspicious cortisol nil it applique ex ea commodore consequent.</textarea>
                                </div>
                                <button class="btn btn-primary waves-effect waves-light w-md" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->
{% endblock body_content %}

{#
<!-- Gallery JS -->
    <script src="../assets/libs/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/js/gallery.js"></script>
#}
