{##################################################################################
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2026 Kataev Yaroslav Georgievich
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE.md
 ##################################################################################}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rotate.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="dropdown position-fixed top-0 end-0 mb-3 me-3 bd-mode-toggle">
        {{ include('button.html.twig') }}
    </div>
{% endblock %}

{% block header %}
    <div class="py-1 container-fluid d-flex justify-content-center rotate">
        {{ ux_icon('kyg', {class: 'rotate_kyg'}) }}
    </div>
    <div class="container-fluid d-flex justify-content-center text-primary-emphasis" lang="{{ app_lang_name }}"><h1><strong>{{ app_name }}</strong></h1></div>
{% endblock %}
