{##################################################################################
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2026 Kataev Yaroslav Georgievich
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE.md
 ##################################################################################}
<!DOCTYPE html>
<html lang="{{ app.locale }}" data-bs-theme="auto" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="autor" content="Kataev Yaroslav Georgievich">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bootstrap-icons/font/bootstrap-icons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('font-awesome/css/svg-with-js.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/button.css') }}">
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('font-awesome/js/all.min.js') }}"></script>
            <script src="{{ asset('js/color-modes.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body_top %}{% endblock %}
        {{ include('button.svg.twig') }}
        <header class="container-fluid d-flex flex-column p-0">
            {% block header %}{% endblock %}
        </header>
        <main class="container-fluid d-flex flex-column p-0">
            {% block main %}{% endblock %}
        </main>
        <footer class="container-fluid d-flex flex-row justify-content-between bg-body-tertiary p-0">
            <div class="d-flex flex-row">
                <div class="m-1">
                    {{ include('symfony.svg.twig') }}
                </div>
                <div class="m-1">
                    {{ include('kyg.svg.twig') }}
                </div>
                <div class="d-flex flex-column justify-content-center"><h6 class="text-nowrap m-0"><strong>{{ shivas_app_version }}</strong></h6></div>
            </div>
            <div class="align-self-center text-danger">
                <h6 class="m-0">
                    {% for message in app.flashes('footer') %}
                        {{ message }}
                    {% endfor %}
                </h6>
            </div>
            <div class="d-flex flex-column justify-content-center pe-1"><h6 class="text-nowrap m-0" lang="en" dir="ltr"><strong>&copy; 2026 Kataev Yaroslav</strong></h6></div>
        </footer>
        {% block body_bottom %}{% endblock %}
    </body>
</html>
