{#********************************************************************************
  * @Project    KYG Framework
  * @Version    1.0
  * @Data       11.02.2024
  *
  * @Copyright  (C) 2024 Kataev Yaroslav Georgievich 
  * @E-mail     yaroslaw74@gmail.com
  * @License    GNU General Public License version 3 or later; see LICENSE.md
  ********************************************************************************#}
{% extends "base.html.twig" %}

{% block title %}KYG Framework for business{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/flexbox.css') }}">
	<link rel="stylesheet" href="{{ asset('jquery-ui/themes/base/base.css') }}">
	<link rel="stylesheet" href="{{ asset('jquery-ui/dist/themes/' ~ Interface.Theme ~ '/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="{{ asset('jquery-ui/dist/themes/' ~ Interface.Theme ~ '/theme.css') }}">
	{% block style %}{% endblock %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ asset('jquery-ui/dist/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/jquery-patch.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/version.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/plugin.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/widget.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/data.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/disable-selection.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/focusable.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/unique-id.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/form.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/form-reset-mixin.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/ie.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/jquery-var-for-color.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/keycode.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/labels.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/position.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/safe-active-element.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/safe-blur.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/scroll-parent.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/tabbable.js') }}"></script>
	<script src="{{ asset('jquery-color/dist/jquery.color.min.js') }}"></script>
	<script src="{{ asset('jquery-color/dist/jquery.color.plus-names.min.js') }}"></script>
	<script src="{{ asset('jquery-color/dist/jjquery.color.svg-names.min.js') }}"></script>
	{% block script_head %}{% endblock %}
{% endblock %}

{% block body %}
	<header>
		{% block header %}{% endblock %}
	</header>
	{% block article %}{% endblock %}
	<main>
		{% block main %}{% endblock %}
	</main>
	<footer>
		<div class="logo_symfony flex_0_0_auto">{% include 'simfony.swg.twig' %}</div>
		<div class="error flex_0_1_100">
			{% block error %}{% endblock %}
		</div>
		<div class="copyright flex_0_0_auto"><strong>&#169 2024 Kataev Yaroslav</strong></div>
	</footer>
	{% block script_body %}{% endblock %}
{% endblock %}
