{#
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) Kataev Yaroslav
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE
 #}
{% extends 'base.html.twig' %}

{% block javascripts %}
    <!-- Main Theme Js -->
    <script async type="module" src="{{ asset('js/main.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {callback: 'fos.Router.setData'}) }}"></script>
{% endblock %}

{% block body %}
    {{ include('partials/switcher.html.twig') }}
    {{ include('partials/loader.html.twig') }}

    <div class="page">
        {{ include('partials/header.html.twig') }}
        {{ include('partials/sidebar.html.twig') }}

        <!-- Start::app-content -->
        <main class="main-content app-content" id="swup">
            <div class="container-fluid">

                {% block page_header %}
                    {{ include('partials/page-header.html.twig', {title: 'Empty', subtitle: 'Pages'}) }}
                {% endblock %}

                {% block content %}{% endblock %}

            </div>
        </main>
        <!-- End::app-content -->

        {{ include('partials/footer.html.twig') }}

    </div>

    {{ include('partials/commonjs.html.twig') }}

    <!-- Defaultmenu JS -->
    <script async type="module" src="{{ asset('js/defaultmenu.js') }}"></script>

    <!-- Sticky JS -->
    <script async type="module" src="{{ asset('js/sticky.js') }}"></script> {##}

    <!-- Simplebar JS -->
    <script async type="module" src="{{ asset('js/simplebar.js') }}"></script>

    <!-- Custom-Switcher JS -->
    <script async type="module" src="{{ asset('js/custom-switcher.js') }}"></script>

    {% block body_javascript %}{% endblock %}

    <!-- Custom JS -->
    <script async type="module" src="{{ asset('js/custom.js') }}"></script>

    <!-- Card JS -->
    <script src="{{ asset('js/card.js') }}"></script> {##}

    <!-- Count-up JS -->
    <script src="{{ asset('js/count-up.js') }}"></script> {##}

    <!-- Toggle Switches JS -->
    <script src="{{ asset('js/toggle-switches.js') }}"></script> {##}
{% endblock body %}
