{# #################################################################################
#  @Project    KYG Framework for business
#  @Version    1.0.0
#
#  @Copyright  (C) Kataev Yaroslav
#  @E-mail     yaroslaw74@gmail.com
#  @License    GNU General Public License version 3 or later, see LICENSE
################################################################################# #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Node Waves Css -->
    <link href="{{ asset('libs/node-waves/waves.min.css') }}" rel="stylesheet">

    <!-- Simplebar Css -->
    <link href="{{ asset('libs/simplebar/simplebar.min.css') }}" rel="stylesheet">

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="{{ asset('libs/flatpickr/flatpickr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/@simonwep/pickr/themes/nano.min.css') }}">

    <!-- Choices Css -->
    <link rel="stylesheet" href="{{ asset('libs/choices.js/public/assets/styles/choices.min.css') }}">
{% endblock %}

{% block javascripts %}
    <!-- Choices JS -->
    <script src="{{ asset('libs/choices.js/public/assets/scripts/choices.min.js') }}"></script>

    <!-- Main Theme Js -->
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block body %}
    {{ include('partials/switcher.html.twig') }}
    {{ include('partials/loader.html.twig') }}

    <div class="page">
        {{ include('partials/header.html.twig') }}
        {{ include('partials/sidebar.html.twig') }}

        <!-- Start::app-content -->
        <div class="main-content app-content">
            <div class="container-fluid">

                {% block page_header %}
                    {{ include('partials/page-header.html.twig', {title: 'Empty', subtitle: 'Pages'}) }}
                {% endblock %}

                {% block content %}{% endblock %}

            </div>
        </div>
        <!-- End::app-content -->

        {{ include('partials/footer.html.twig') }}

    </div>

    {{ include('partials/commonjs.html.twig') }}

    <!-- Popper JS -->
    <script src="{{ asset('libs/@popperjs/core/umd/popper.min.js') }}"></script>

    <!-- Bootstrap JS -->
    <script src="{{ asset('libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Defaultmenu JS -->
    <script src="{{ asset('js/defaultmenu.min.js') }}"></script>

    <!-- Node Waves JS-->
    <script src="{{ asset('libs/node-waves/waves.min.js') }}"></script>

    <!-- Sticky JS -->
    <script src="{{ asset('js/sticky.js') }}"></script>

    <!-- Simplebar JS -->
    <script src="{{ asset('libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ asset('js/simplebar.js') }}"></script>

    <!-- Color Picker JS -->
    <script src="{{ asset('libs/@simonwep/pickr/pickr.es5.min.js') }}"></script>

    <!-- Custom-Switcher JS -->
    <script src="{{ asset('js/custom-switcher.min.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock body %}
