{#
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) Kataev Yaroslav
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE
 #}
{% extends 'empty.html.twig' %}
{% trans_default_domain 'administration' %}

{% block page_header %}
    {{ include('partials/page-header.html.twig', {title: 'File Manager'|trans, subtitle: 'Administration'|trans}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block content %}
    <!-- Start::row-1 -->
    <div class="row">
        {{ include('@Administration/partials/navbar.html.twig') }}
        <div class="col-lg-8 col-xl-9">
            <div class="row">
                <div class="col-6">
                    <div class="fs-20 mb-4">{% trans %}FILE MANAGER{% endtrans %}</div>
                </div>
                <div class="col-sm-6 col-12 col-auto file-1">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" placeholder="{% trans %}Search folder.....{% endtrans %}">
                        <button class="btn ripple btn-primary" type="button">{% trans %}Search{% endtrans %}</button>
                    </div>
                </div>
            </div>
            <div class="text-muted mb-2 fs-16">{% trans %}All Files{% endtrans %}</div>
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <a href="{{ path('app_admin_file_manager_list', {list: 'Images'}) }}">
                            <div class="card-body">
                                <div class="fs-16 d-flex align-items-center flex-wrap">
                                    {{ ux_icon('file-manager:image', {class: 'file-manager-icon me-2'}) }}
                                    {% trans %}Images{% endtrans %}
                                    <div class="ms-auto fs-13 text-muted">{{ size_dir(storage_dir ~ '/Images') }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <a href="{{ path('app_admin_file_manager_list', {list: 'Videos'}) }}">
                            <div class="card-body">
                                <div class="fs-16 d-flex align-items-center flex-wrap">
                                    {{ ux_icon('file-manager:video', {class: 'file-manager-icon me-2'}) }}
                                    {% trans %}Videos{% endtrans %}
                                    <div class="ms-auto fs-13 text-muted">{{ size_dir(storage_dir ~ '/Videos') }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <a href="{{ path('app_admin_file_manager_list', {list: 'Documents'}) }}">
                            <div class="card-body">
                                <div class="fs-16 d-flex align-items-center flex-wrap">
                                    {{ ux_icon('file-manager:docs', {class: 'file-manager-icon me-2'}) }}
                                    {% trans %}Documents{% endtrans %}
                                    <div class="ms-auto fs-13 text-muted">{{ size_dir(storage_dir ~ '/Documents') }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <a href="{{ path('app_admin_file_manager_list', {list: 'Music'}) }}">
                            <div class="card-body">
                                <div class="fs-16 d-flex align-items-center flex-wrap">
                                    {{ ux_icon('file-manager:music', {class: 'file-manager-icon me-2'}) }}
                                    {% trans %}Music{% endtrans %}
                                    <div class="ms-auto fs-13 text-muted">{{ size_dir(storage_dir ~ '/Music') }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <a href="{{ path('app_admin_file_manager_list', {list: 'Downloads'}) }}">
                            <div class="card-body">
                                <div class="fs-16 d-flex align-items-center flex-wrap">
                                    {{ ux_icon('file-manager:downloads', {class: 'file-manager-icon me-2'}) }}
                                    {% trans %}Downloads{% endtrans %}
                                    <div class="ms-auto fs-13 text-muted">{{ size_dir(storage_dir ~ '/Downloads') }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <a href="{{ path('app_admin_file_manager_list', {list: 'Other'}) }}">
                            <div class="card-body">
                                <div class="fs-16 d-flex align-items-center flex-wrap">
                                    {{ ux_icon('file-manager:more', {class: 'file-manager-icon me-2'}) }}
                                    {% trans %}Other{% endtrans %}
                                    <div class="ms-auto fs-13 text-muted">{{ size_dir(storage_dir ~ '/Other') }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-muted mb-2 fs-16">{% trans %}Folders{% endtrans %}</div>
                <div class="row">
                    {% for article in pagination %}
                        {% if not article.file %}
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="card p-0 ">
                                    <div class="d-flex align-items-center px-3 pt-3 pb-1">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="form-check-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                        <div class="float-end ms-auto">
                                            <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu rounded-7">
                                                {% if not article.system %}
                                                    <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit me-2"></i>{% trans %}Edit{% endtrans %}</a>
                                                {% endif %}
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-share me-2"></i>{% trans %}Share{% endtrans %}</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-download me-2"></i>{% trans %}Download{% endtrans %}</a>
                                                {% if not article.system %}
                                                    <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash me-2"></i>{% trans %}Delete{% endtrans %}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 text-center">
                                        <div class="file-manger-icon">
                                            <a href="{{ path('app_admin_file_manager_list', {list: article.name}) }}"><img src="{{ asset('images/file-manager/folders/' ~ article.logo) }}" alt="img" class="rounded-7"></a>
                                        </div>
                                        {% if article.system %}
                                            <h6 class="mb-1 fw-semibold fs-14">{{ article.name|trans }}</h6>
                                        {% else %}
                                            <h6 class="mb-1 fw-semibold fs-14">{{ article.name }}</h6>
                                        {% endif %}
                                        <span class="text-muted fs-11">{{ article.size }}</span>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <div class="card p-0 ">
                                    <div class="d-flex align-items-center px-3 pt-3 pb-1">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="form-check-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                        <div class="float-end ms-auto">
                                            <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu rounded-7">
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-edit me-2"></i>{% trans %}Edit{% endtrans %}</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-share me-2"></i>{% trans %}Share{% endtrans %}</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-download me-2"></i>{% trans %}Download{% endtrans %}</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash me-2"></i>{% trans %}Delete{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 text-center">
                                        <div class="file-manger-icon">
                                            <a href="file-manager-list.html"><img src="{{ asset('images/file-manager/files/' ~ article.logo) }}" alt="img" class="rounded-7"></a>
                                        </div>
                                        <h6 class="mb-1 fw-semibold fs-14">{{ article.name }}</h6>
                                        <span class="text-muted fs-11">{{ article.size }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="pagination float-end mb-4 flex-wrap navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <!--End::row-1 -->
{% endblock content %}
