{##################################################################################
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later; see LICENSE.md
 ##################################################################################}
{% extends 'add.html.twig' %}
{% trans_default_domain 'login' %}

{% block title %}
    {{ parent() }}
    Log in!
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block main %}
    <div class="d-flex flex-row justify-content-center">
		<div class="border rounded-3 shadow bg-secondary-subtle d-flex flex-row justify-content-center main p-3 mb-3">
            <form action="{{ path('app_login') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger d-flex flex-row justify-content-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3 d-flex flex-row justify-content-center">
                        {% trans %}login.logged{% endtrans %} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{% trans %}login.logout{% endtrans %}</a>
                    </div>
                {% endif %}
                <div class="d-flex flex-row justify-content-center">
                    <h3 class="mb-3 font-weight-normal text-primary-emphasis">{% trans %}login.title{% endtrans %}</h3>
                </div>
                <label for="username" class="text-primary-emphasis">{% trans %}login.username{% endtrans %}</label>
                <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus size="50">
                <label for="password" class="text-primary-emphasis">{% trans %}login.password{% endtrans %}</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required size="50" {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', {visibleLabel: 'login.show'|trans, hiddenLabel: 'login.hide'|trans, buttonClasses: ['toggle-password-button']}) }}>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="d-flex flex-row justify-content-between text-primary-emphasis">
                    <div class="checkbox mb-3">
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                        <label for="_remember_me" class="text-primary-emphasis">{% trans %}login.remember{% endtrans %}</label>
                    </div>
                    <a href="#" class="text-primary-emphasis">{% trans %}login.forgot{% endtrans %}</a>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">{% trans %}login.sign{% endtrans %}</button>
            </form>
        </div>
    </div>
{% endblock %}
