{#
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) Kataev Yaroslav
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE
 #}
<div{{ attributes }}>
    {% for label, messages in this.flashes %}
        {% for message in messages %}
            <div style="margin-top: 0.1rem; cursor: pointer;">
                <div class="alert alert-solid-{{ label }} alert-dismissible border border-primary mb-0 p-2" role="alert">
                    <div class="d-flex align-items-start">
                        <div class="me-2">
                            {% if label == 'info' %}
                                {{ ux_icon('mdi:information-outline', {class: 'flex-shrink-0 svg-white', height: '1.5rem', width: '1.5rem'}) }}
                            {% elseif label == 'success' %}
                                {{ ux_icon('mdi:success-circle-outline', {class: 'flex-shrink-0 svg-white', height: '1.5rem', width: '1.5rem'}) }}
                            {% elseif label == 'warning' %}
                                {{ ux_icon('mdi:warning-outline', {class: 'flex-shrink-0 svg-white', height: '1.5rem', width: '1.5rem'}) }}
                            {% else %}
                                {{ ux_icon('mdi:warning-octagon-outline', {class: 'flex-shrink-0 svg-white', height: '1.5rem', width: '1.5rem'}) }}
                            {% endif %}
                        </div>
                        <div class="text-fixed-white w-100">
                            <div class="fw-semibold d-flex justify-content-between">
                                {% if label == 'info' %}
                                    {% trans %}Information Alert{% endtrans %}
                                {% elseif label == 'success' %}
                                    {% trans %}Success Alert{% endtrans %}
                                {% elseif label == 'warning' %}
                                    {% trans %}Warning Alert{% endtrans %}
                                {% else %}
                                    {% trans %}Danger Alert{% endtrans %}
                                {% endif %}
                                <button type="button" class="btn-close p-0" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x"></i></button>
                            </div>
                            <div class="fs-12 op-8 mb-1">{{ message }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
