{% extends '@KnpMenu/menu.html.twig' %}

{% block linkElement %}
    {% import _self as knp_menu %}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>
        {% if item.extra('icon') %}
            {{ ux_icon(item.extra('icon'), {class: 'side-menu__icon'}) }}
        {% endif %}
        <span{{ knp_menu.attributes(item.labelAttributes) }}>{{ block('label') }}</span>
    </a>
{% endblock %}
